.login_bg {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #4E7BA7, #A1D2F4, #FFC53D);

    // background: url('../../../assets/images/input_bg.png') center/cover no-repeat;
}