<section class=" loginpage">
    <div class="container align-items-center">
        <div class="row justify-content-center vh-100">
            <div class="col-4 align-self-center">
                <main class="form-signin w-100 m-auto bg-white p-4 pb-5 rounded-5 shadow">
                    <div class="text-center">
                        <button type="button" class="btn border-0  btn-orange rounded-circle p-2 m-3" data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/></svg>
                        </button>
                    </div>
                    <form [formGroup]="loginForm">              
                      <!-- <div class="form-floating mb-4">
                        <input type="email" class="form-control rounded-pill" formControlName="admin_name" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">User Name</label>
                        <span class="text-error" *ngIf="submitted && f['admin_name']?.errors?.['required']">Username is required</span>
                      </div> -->
                      <div class="form-floating mb-4">
                        <input type="email" class="form-control rounded-pill" formControlName="email_id" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email Id</label>
                        <span class="text-error" *ngIf="submitted && f['email_id']?.errors?.['required']">Email Id is required</span>
                        <span class="text-error" *ngIf="submitted && f['email_id']?.errors?.['pattern']">Email Id is incorrect</span>
                      </div>
                      <div class="form-floating mb-4">
                        <input type="password" class="form-control rounded-pill" formControlName="password" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                        <span class="text-error" *ngIf="submitted && f['password']?.errors?.['required']">Password is required</span>
                      </div>                                
                      <button class="btn btn-orange w-100 py-2" (click)="submit()">Log In</button>
                    </form>
                </main>
            </div>
        </div>
    </div>
</section>
