.loginpage{
    // background-image: url('../../../assets/img/') !important;
    background-position: center !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-error{
    font-size: 12px;
    color: red;
}