/* project name: wallet Ex P2P 
   
*/
/* dark theme  #130740*/
/* card bg,bg-white #512dd72e */
/* text-mute,text-dark,h5,h3 #fff */

/* font */
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';



@import 'ngx-toastr/toastr';

@font-face {
    font-family: 'Trebuchet MS';
    src: url(/assets/font/trebuchet-ms-2-cufonfonts/trebuc.ttf);
  }

/* typograpy */
  

/* comman css start */

body {
font-family: 'Trebuchet MS';
background: rgb(246, 224, 180);
    background: radial-gradient( circle, rgb(242, 231, 210) 0%, rgb(255, 249, 234) 98%);
}

.btn-blue{
  background-color: #ffc53d;
  padding: 10px 20px ;
  border-radius: 10px 0px 10px 0px;
  color: #000;
}
.bg-theme-1{
  background-color: #ffc53d;
}
.bg-theme-2{
  background-color: #131414;
}
.text-theme-1{
  color: #ffc53d;
}
.text-theme-2{
  color:#131414 !important;
}
.fs-12{
    font-size: 12px;
}
.fs-14{
  font-size: 14px;
}
// .bg-dashboard{
//   background-color: #ffc53d08;
// }
.accordion-button:not(.collapsed) {
  color: #000 !important;
}
.accordion-button{
  color: gray !important;
}
/* nav tabs */
.nav-tabs .nav-link {
  color: #878787;
}
.nav-tabs .nav-link:hover ,.nav-tabs .nav-link:focus,.nav-tabs .nav-link.active {
  color: #131414 !important;
  background-color: transparent !important;
}
.-mt-4{
  margin-top: -40px;
}
.mt-n5{
  margin-top: -100px !important;
}
.-ms-1{
  margin-left: -10px;
}
/* comman css end */

 /* ===================== dashborad =================== */

/* sidebar start*/

.sidebar{
  bottom: 0;
  display: block;
  max-width: 250px;
  overflow-y: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
 }
 /* nav */
 .main-nav .nav-item a{
  color: gray;
 }
 .main-nav .nav-item a.active{
  color: #000;
 }
 .main-nav .nav-item a.accordion-button:not(.collapsed) {
  color: #000;
}

/* sidebar end */

/* main start */

/* checklist */
.form-switch>.form-check-input {
  height: 1.5rem !important;
  margin-top: 0 !important;
  width: 3rem !important;
}
.form-check-input {
  background-color : #878787 !important;
}
.form-check-input:focus{
  box-shadow: none !important;
  border: none !important;
}
.form-check-input:checked {
  background-color: #131414 !important;
  border: none !important;
}
/* remove canvasjs in graph */
#daybar a,#pieChart a,#pieChartOne a,#SaleGraph a,#DirectGraph a,#OrganicGraph a,#minichart a{
  color: transparent !important;
}
.chart-legend-item{
  display: none;
}

/* traffic */
.traffic-channels.nav-tabs, .crm.nav-tabs{
  --bs-nav-tabs-border-width: 0 !important;
  background-color: transparent !important;
}
.traffic-channels.nav-tabs:hover, .crm.nav-tabs:hover{
  color: #131414 !important;
}

/* goals */
.admin-table td {
  padding: 20px 20px !important;
  font-size: 13px;
}
.admin-table th {
  padding: 20px 20px !important;
  font-size: 13px;
}
.admin-table .avatar{
  margin-left: -10px;
}
.admin-table .avatar img:hover{
 height: 28px;
 width: 28px;
}

/* main end */

/* search canvas */

.form-control:focus {
  border-color: #131414 !important;
}

/* responsive */

@media screen and (max-width:1199px) and (min-width: 992px) {
  .sidebar{
    width: max-content;
   }  
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .sidebar{
    max-width: 220px;
   }  
}
@media screen and (max-width: 767px) {
  .sidebar{
    max-width: 100%;
   }  
}

/* ======================= CRM ====================== */

/* header */
.grid-btn{
  border-radius: 10px 0px 0px 10px;
  padding: 10px 20px ;
  color: #fff;
}
.grid-btn{
  border-radius: 10px 0px 0px 10px !important;
  padding: 10px 20px !important;
}
.list-btn{
  border-radius: 0px 10px 10px 0px !important;
  padding: 10px 20px !important;
  color: #000;
}
.nav-pills .nav-link.active {
  background-color: #ffc53d !important;
  color: #fff !important;
}

/* table */
#list-view td ,#list-view th {
  padding: 20px 20px !important;
  font-size: 16px;
}
.min-vw-25{
  --bs-dropdown-min-width: 20rem !important;
}
.list_alert, .grid_alert{
  bottom: 1.5rem;
  left: 50% !important;
  margin-bottom: 0;
  min-width: 350px !important;
  position: fixed !important;
  transform: translateX(-50%);
  z-index: 1030;
}
.alert-dark {
  --bs-alert-color: #fff !important;
  --bs-alert-bg: #0f0438f2!important;
  --bs-alert-border-color: #12263f !important;
}
.bg-form{
  background-color: #00000061;
}
.page-item .page-link{
  color: #878787;
}
.page-item .page-link.active, .page-link:hover, .page-link:focus{
  color: #131414 !important;
  background-color: transparent !important;
}
/* profile */
.progress, .progress-stacked {
    --bs-progress-height: 5px !important;
}
/* wizard */
.dz-message {
  background-color: #fff;
  border: 1px dashed var(--bs-gray-400);
  border-radius: var(--bs-border-radius);
  color: var(--bs-gray-600);
  cursor: pointer;
  order: -1;
  padding: 5rem 1rem;
  text-align: center;
  transition: all .2s ease-in-out;
  z-index: 999;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.btn-orange{
    padding: 6px 20px;
    border-radius: 50rem;
    background-color: #131414;
    color: #ffffff;
    font-weight: 500;
    border: 2px #ffffff;
    border-style: solid;
    box-shadow: 1px 4px 5px 0px #0909092e;
}

.btn-orange:hover{
    padding: 6px 20px;
    border-radius: 50rem;
    background-color: #131414;
    color: #ffffff;
    font-weight: 500;
    border: 2px #ffffff;
    border-style: solid;
    box-shadow: none;
    transition: all 1s;
}

table th{
    font-weight: 500 !important;
}

table th, table td{
    text-wrap: nowrap;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-form-field-infix{
    padding: 6px 0px !important;
    min-height: 48px !important;
}

.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper{
    height: 38px !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white !important;
    /* border: none !important; */
    border-radius: 6px;
}

.mat-mdc-form-field-focus-overlay{
    background-color: none !important;
}

.ngx-pagination{
  margin-bottom: 0px !important;
}

::ng-deep .ag-theme-alpine {
  font-family: 'Arial', sans-serif; /* Change font */
  font-size: 14px; /* Change font size */
}

::ng-deep .ag-header-cell {
  background-color: #f4f4f4; /* Customize header background */
  color: #333; /* Customize header text color */
}

::ng-deep .ag-row {
  background-color: #f9f9f9; /* Customize row background color */
}

::ng-deep .ag-row-hover {
  background-color: #e0e0e0; /* Customize hover effect */
}

::ng-deep .ag-cell {
  padding: 10px; /* Add padding to cells */
}

.btn:active,.btn:focus-visible{
  box-shadow: none !important;
  border-color: transparent !important;
}

.cursor-pointer{
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f6e0b4;
}

.depositbtn{
   background-color: #5bab03;
   border-radius: 4px 0 0 4px;
   border: 0;
   padding: 3px 10px;
}

.withdrawbtn{
  background-color: red;
  border-radius: 0px 4px 4px 0;
  border: 0;
  padding: 3px 10px;
}
