<section class="sidebar-right-section-padding position-relative page-height ">
    <div class="upcoming-bar p-2">
      <p class="mb-0 fw-bold text-center">AWC Bets</p>
    </div>
    <ul class="nav nav-pills flex-nowrap mb-3 m-4 history-tab" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-bet-history-tab" data-bs-toggle="pill" data-bs-target="#pills-bet-history" type="button" role="tab" aria-controls="pills-bet-history" aria-selected="true">AWC Bets History</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-profit-loss-tab" data-bs-toggle="pill" data-bs-target="#pills-profit-loss" type="button" role="tab" aria-controls="pills-profit-loss" aria-selected="false">AWC Profit & Loss</button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-bet-history" role="tabpanel" aria-labelledby="pills-bet-history-tab" tabindex="0">
            <div class="m-4">
                <div class="row align-items-end row-gap-3">
                  
                  <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="">
                      <label for="">Period</label>
                      <input type="date" class="form-control" placeholder="Start Date" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="">
                      <label for="">To</label>
                      <input type="date" class="form-control" placeholder="Start Date" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                  </div>
                  <div class="col-sm-8 col-md-6 col-lg-4">
                    <div class="d-flex gap-3 history-filter-btn">
                        <div class="check-box-grp flex-grow-1">
                          <div class="d-flex align-items-center">
                            <div class="line-height-0">
                              <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            </div>
                            <p class="mb-0 ms-2">Just For Today</p>
                          </div>
                        </div>
                        <div class="check-box-grp flex-grow-1">
                            <div class="d-flex align-items-center">
                              <div class="line-height-0">
                                <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                              </div>
                              <p class="mb-0 ms-2">From Yesterday</p>
                            </div>
                          </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-3 col-lg-3">
                    <button class="button-primary border-gradient">Get History</button>
                    <button class="button-primary border-gradient ms-2">Clear</button>
                  </div>
                </div>
                <div class="border-top mt-4">
                 
                  <div class="mt-4 table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th class="text-center">Bet ID</th>
                          <th class="text-center">Event</th>
                          <th class="text-center">Bet Placed</th>
                          <th class="text-center">Bet Settled</th>
                          <th class="text-center">Stake</th>
                          <th class="text-center">Profit / Loss</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="">8</td>
                          <td class=""><span>2024-11-28</span><span>13:00:00</span></td>
                          <td class="">8</td>
                          <td class="">8.2</td>
                          <td class="">8</td>
                          <td class="">8.2</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="mt-3">
                    <ul class="notes">
                        <li><p class="mb-2">Betting History enables you to review the bets you have placed.</p></li>
                        <li><p class="mb-2">Specify the time period during which your bets were placed, the type of markets on which the bets were placed, and the sport.</p></li>
                        <li><p class="mb-0">Betting History is available online for the past 30 days.</p></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-profit-loss" role="tabpanel" aria-labelledby="pills-profit-loss-tab" tabindex="0">
            <div class="m-4">
                <div class="row align-items-end row-gap-3">
                  
                  <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="">
                      <label for="">Period</label>
                      <input type="date" class="form-control" placeholder="Start Date" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="">
                      <label for="">To</label>
                      <input type="date" class="form-control" placeholder="Start Date" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                  </div>
                  <div class="col-sm-8 col-md-6 col-lg-4">
                    <div class="d-flex gap-3 history-filter-btn">
                        <div class="check-box-grp flex-grow-1">
                          <div class="d-flex align-items-center">
                            <div class="line-height-0">
                              <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            </div>
                            <p class="mb-0 ms-2">Just For Today</p>
                          </div>
                        </div>
                        <div class="check-box-grp flex-grow-1">
                            <div class="d-flex align-items-center">
                              <div class="line-height-0">
                                <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                              </div>
                              <p class="mb-0 ms-2">From Yesterday</p>
                            </div>
                          </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-3 col-lg-3">
                    <button class="button-primary border-gradient">Get P & L</button>
                    <button class="button-primary border-gradient ms-2">Clear</button>
                  </div>
                </div>
                <div class="border-top mt-4">
                 
                  <div class="mt-4 table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th class="text-center">Bet ID</th>
                          <th class="text-center">Event</th>
                          <th class="text-center">Bet Placed</th>
                          <th class="text-center">Bet Settled</th>
                          <th class="text-center">Stake</th>
                          <th class="text-center">Profit / Loss</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="">8</td>
                          <td class=""><span>2024-11-28</span><span>13:00:00</span></td>
                          <td class="">8</td>
                          <td class="">8.2</td>
                          <td class="">8</td>
                          <td class="">8.2</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="mt-3">
                    <ul class="notes">
                        <li><p class="mb-2">Betting History enables you to review the bets you have placed.</p></li>
                        <li><p class="mb-2">Specify the time period during which your bets were placed, the type of markets on which the bets were placed, and the sport.</p></li>
                        <li><p class="mb-0">Betting History is available online for the past 30 days.</p></li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
    
  </section>