<section class="sidebar-right-section-padding position-relative page-height ">
    <div class="upcoming-bar p-2">
      <p class="mb-0 fw-bold text-center">Stake Buttons</p>
    </div>
    <div class="m-4">
        <div class="row row-gap-3">
            <div class="col-sm-6 col-md-3 col-lg-3 ">
                <div class="">
                  <label for="">Button 1</label>
                  <input type="input" class="form-control" placeholder="100" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 ">
                <div class="">
                  <label for="">Button 2</label>
                  <input type="input" class="form-control" placeholder="500" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 ">
                <div class="">
                  <label for="">Button 3</label>
                  <input type="input" class="form-control" placeholder="1000" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 ">
                <div class="">
                  <label for="">Button 4</label>
                  <input type="input" class="form-control" placeholder="5000" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 ">
                <div class="">
                  <label for="">Button 5</label>
                  <input type="input" class="form-control" placeholder="10000" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 ">
                <div class="">
                  <label for="">Button 6</label>
                  <input type="input" class="form-control" placeholder="25000" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 ">
                <div class="">
                  <label for="">Button 7</label>
                  <input type="input" class="form-control" placeholder="50000" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-lg-12 mt-2">
                <button class="button-primary border-gradient">Loading Report</button>
                <button class="button-primary border-gradient ms-2">Clear</button>
            </div>
        </div>
    </div>
  </section>