<section class="py-5">
    <div class=" px-sm-0">
        <div class="row">
            <div class="col">
                <h5>Casino Bet List</h5>
            </div>
            <div class="col small text-end">
                <span>Total Records: <b>0</b></span>
                <span class="ms-2">Total Pnl: <b> 0.00</b> </span>
                <span class="ms-2">Total Stakes: <b>0.00</b></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-2 col-sm-4 mt-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </span>
                    <input type="text" class="form-control shadow-none" placeholder="Search Bitid" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-xxl-2 col-sm-4 mt-3">
                <div class="d-flex align-items-center">
                    <span class="small fw-medium me-2">Last:</span>
                    <select class="form-select shadow-none" aria-label="Default select example">
                        <option selected>10 Txn</option>
                        <option value="1">25 Txn</option>
                        <option value="2">50 Txn</option>
                        <option value="3">100 Txn</option>
                        <option value="3">Full</option>
                    </select>
                </div>
            </div>
            <div class="col-xxl-2 col-sm-4 mt-3">
                <div class="d-flex align-items-center">
                    <span class="small fw-medium me-2 text-nowrap">Sort By:</span>
                    <select class="form-select shadow-none" aria-label="Default select example">
                        <option selected>Bet Settled Time</option>
                        <option value="1">Bet Taken Time</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="d-flex align-items-center">
                    <span class="small fw-medium me-2 text-nowrap">Period:</span>
                    <!-- <mat-form-field class="mt-3 ">
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                        <input matStartDate formControlName="start" placeholder="Start date">
                        <input matEndDate formControlName="end" placeholder="End date">
                        </mat-date-range-input>                    
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    
                        @if (range.controls.start.hasError('matStartDateInvalid')) {
                        <mat-error>Invalid start date</mat-error>
                        }
                        @if (range.controls.end.hasError('matEndDateInvalid')) {
                        <mat-error>Invalid end date</mat-error>
                        }
                    </mat-form-field> -->
                </div>
            </div>
            <div class="col-xxl-2 col-sm-4 mt-3">
                <div class="d-flex align-items-center">
                    <span class="small fw-medium me-2 text-nowrap">Stake >=:</span>
                    <input type="number" class="form-control shadow-none" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col text-end mt-3">
                <button class="btn-orange rounded small">Get History</button>
            </div>
        </div>
        <div class="bg-light p-3 rounded m-2 h-100 mt-4 table-responsive">
            <table class="table table-light table-striped table-hover small">
                <thead>
                  <tr>
                    <th scope="col">PL ID</th>
                    <th scope="col">Round Id</th>
                    <th scope="col">Bet taken</th>
                    <th scope="col">Bet Settled</th>
                    <th scope="col">platform</th>
                    <th scope="col">GameType</th>
                    <th scope="col">Stake</th>
                    <th scope="col">Profit/Loss</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>                    
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>                  
                </tbody>
            </table>
        </div>
    </div>
</section>
    
