.play-icon{   
    // opacity: 1;
    animation: fadeIn 0.5s ease-in-out infinite ;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0.25;
    }
    20%{
        opacity: 0.50;
    }
    30%{
        opacity: 0.75;
    }
    50%{
        opacity: 1;
    }
    60%{
        opacity: 0.25;
    }
    70%{
        opacity: 0.50;
    }
    80%{
        opacity: 0.75;
    }
    100%{
        opacity: 1;
    }
}