<section class="py-5">
    <div class="container">
        <h6 class="ms-2">Risk Management Summary</h6>
        <ul class="nav nav-tabs m-2 mb-0 mt-3" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="Credit-tab" data-bs-toggle="tab" data-bs-target="#Credit-tab-pane" type="button" role="tab" aria-controls="Credit-tab-pane" aria-selected="true">Top 10 Matched Amount Player</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="Winner-tab" data-bs-toggle="tab" data-bs-target="#Winner-tab-pane" type="button" role="tab" aria-controls="Winner-tab-pane" aria-selected="false">Top 10 Exposure Player</button>
            </li>           
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="Credit-tab-pane" role="tabpanel" aria-labelledby="Credit-tab" tabindex="0">
                <div class="bg-light p-3 rounded m-2 h-100 mt-0 table-responsive">
                    <table class="table table-light table-striped table-hover small align-middle">
                        <thead>
                          <tr>
                            <th scope="col">UID</th>
                            <th class="text-center">Exposure</th>
                            <th class="text-center">Matched Amount</th>                    
                            <th class="text-center">UID</th>                    
                            <th class="text-end">Exposure</th>                    
                            <th class="text-end">Matched Amount</th>                    
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td></td>
                            <td  class="text-center"></td>
                            <td class="text-danger text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-end"></td>
                            <td class="text-end"></td>
                          </tr>                  
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="Winner-tab-pane" role="tabpanel" aria-labelledby="Winner-tab" tabindex="0">
                <div class="bg-light p-3 rounded m-2 h-100 mt-0 table-responsive">
                    <table class="table table-light table-striped table-hover small align-middle">
                        <thead>
                          <tr>
                            <th scope="col">UID</th>
                            <th class="text-center">Exposure</th>
                            <th class="text-center">Matched Amount</th>                    
                            <th class="text-center">UID</th>                    
                            <th class="text-end">Exposure</th>                    
                            <th class="text-end">Matched Amount</th>                    
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td></td>
                            <td  class="text-center"></td>
                            <td class="text-danger text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-end"></td>
                            <td class="text-end"></td>
                          </tr>                  
                        </tbody>
                    </table>
                </div>
            </div>
        </div> 
    </div>
</section>