.bet_amounts li {
    width: auto;
    padding: 4px 10px;
    background-color: #ccc;
    border-radius: 4px;
    cursor: pointer;
    color: #000;
    display: inline-block;
    margin: 5px;
    &.active {
        background-color: var(--primary-color);
        color: #000;
    }
}
.back_bet {
    background-color: transparent;
    color: #000
}
.lay_bet {
    background-color: #f3dce2;
}
label {
    font-size: 14px;
}
.score_board {
    background-color: #ffffff10;
    backdrop-filter: blur(10px);
    padding: 5px 10px;
    width: 80%;
}
.match_title {
    text-shadow: 2px 1px 1px #000;
    font-style: italic;
    font-weight: 700;
}
.table_shadow {
    box-shadow: 0px 3px 10px 0px #00000030;
}
.score-details h5{
    color: #fff;
    font-weight: 800;
}
.score-details p{
    font-size: 13px;
    color: #fff;
}
.score-details h3{
    color: #fff;
    font-weight: 700;
}
.batting-namers{
    color: #fff;
}
.per-ball li{
    background-color: #fff;
    border-radius: 50px;
    padding: 1px 8px;
    color: #000;
    margin-right: 5px;
}
.per-ball li.boundry{
    background-color: #235529;
    color: #fff;
}
.per-ball li.wicket{
    background-color: #ff0000;
    color: #fff;
    font-size: 15px;
    line-height: 25px;
}
.per-ball li.no-ball{
    background-color: #9c8f18;
    color: #fff;
}
.per-ball li.wide{
    background-color: #291dce;
    color: #fff;
    font-size: 15px;
    line-height: 25px;
}
.per-ball li.six{
    background-color: #179c27;
    color: #fff;
}

.status_overlay {
    background: #00000099;
    font-weight: 500;
    color: #ff0000;
    text-align: center;
}

.cursor-pointer {
    cursor: pointer;
}


.fancy-suspend {
    background-color: #636363d6 !important;
}

.table>:not(caption)>*>*{
    background-color: inherit;
}

.suspend{
    background-color: #636363d6 !important;
    color: #ff0000;
    vertical-align: middle;
}

@media (min-width: 992px){
    .sidebox{
        position: sticky;
        top: 15%;
    }
}

@media(max-width:991px){
  .allside-shadow-bottom{
    display: none;
  }
}
@media(min-width:992px){
  .allside-shadow1{
    display: none;
  }
}

@media(max-width:991px){
  .result-content{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

