<app-header/>
<section class="section-padding">
    <div class="container-fluid">
        <h2 class="fs-4 fw-bold text-center">AWC</h2>
        
        <div class="swiper awc_list">
            <ul class="nav-tabs swiper-wrapper border-0 px-0 mb-0" id="myTab" role="tablist">
                
                <button class="swiper-slide btn button-secondary active" id="tab1" data-bs-toggle="tab" data-bs-target="#tab1-pane" type="button" role="tab" aria-controls="tab1-pane" aria-selected="true">Horsebook</button>
                
                <button class="swiper-slide btn button-secondary" id="tab2" data-bs-toggle="tab" data-bs-target="#tab2-pane" type="button" role="tab" aria-controls="tab2-pane" aria-selected="false">Kingmaker</button>
                
                <button class="swiper-slide btn button-secondary" id="tab3" data-bs-toggle="tab" data-bs-target="#tab3-pane" type="button" role="tab" aria-controls="tab3-pane" aria-selected="false">DragoonSoft</button>
                
                <button class="swiper-slide btn button-secondary" id="tab4" data-bs-toggle="tab" data-bs-target="#tab4-pane" type="button" role="tab" aria-controls="tab4-pane" aria-selected="false">Spade</button>
                
                <button class="swiper-slide btn button-secondary" id="tab5" data-bs-toggle="tab" data-bs-target="#tab5-pane" type="button" role="tab" aria-controls="tab5-pane" aria-selected="false">Game type</button>
                
                <button class="swiper-slide btn button-secondary" id="tab6" data-bs-toggle="tab" data-bs-target="#tab6-pane" type="button" role="tab" aria-controls="tab6-pane" aria-selected="false">Yes Bingo</button>
                
                <button class="swiper-slide btn button-secondary" id="tab7" data-bs-toggle="tab" data-bs-target="#tab7-pane" type="button" role="tab" aria-controls="tab7-pane" aria-selected="false">Jili</button>
                
                <button class="swiper-slide btn button-secondary" id="tab8" data-bs-toggle="tab" data-bs-target="#tab8-pane" type="button" role="tab" aria-controls="tab8-pane" aria-selected="false">FC</button>
                
                <button class="swiper-slide btn button-secondary" id="tab9" data-bs-toggle="tab" data-bs-target="#tab9-pane" type="button" role="tab" aria-controls="tab9-pane" aria-selected="false">Elsport</button>
                
                <button class="swiper-slide btn button-secondary" id="tab10" data-bs-toggle="tab" data-bs-target="#tab10-pane" type="button" role="tab" aria-controls="tab10-pane" aria-selected="false">Hotroad</button>
                
                <button class="swiper-slide btn button-secondary" id="tab11" data-bs-toggle="tab" data-bs-target="#tab11-pane" type="button" role="tab" aria-controls="tab11-pane" aria-selected="false">Saba</button>
            </ul>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <div class="tab-content mt-4" id="myTabContent">
            <div class="tab-pane fade show active" id="tab1-pane" role="tabpanel" aria-labelledby="tab1" tabindex="0">
                <div class="row row-cols-md-3 row-cols-lg-5 row-cols-xxl-6 row-cols-1 row-gap-4">
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab2-pane" role="tabpanel" aria-labelledby="tab2" tabindex="0">
                <div class="row row-cols-md-3 row-cols-lg-4 row-cols-xxl-5 row-cols-1 row-gap-4">
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab3-pane" role="tabpanel" aria-labelledby="tab3" tabindex="0">
                <div class="row row-cols-md-3 row-cols-lg-4 row-cols-xxl-5 row-cols-1 row-gap-4">
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab4-pane" role="tabpanel" aria-labelledby="tab4" tabindex="0">
                <div class="row row-cols-md-3 row-cols-lg-4 row-cols-xxl-5 row-cols-1 row-gap-4">
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab5-pane" role="tabpanel" aria-labelledby="tab5" tabindex="0">
                <div class="row row-cols-md-3 row-cols-lg-4 row-cols-xxl-5 row-cols-1 row-gap-4">
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab6-pane" role="tabpanel" aria-labelledby="tab6" tabindex="0">
                <div class="row row-cols-md-3 row-cols-lg-4 row-cols-xxl-5 row-cols-1 row-gap-4">
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab7-pane" role="tabpanel" aria-labelledby="tab7" tabindex="0">
                <div class="row row-cols-md-3 row-cols-lg-4 row-cols-xxl-5 row-cols-1 row-gap-4">
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab8-pane" role="tabpanel" aria-labelledby="tab8" tabindex="0">
                <div class="row row-cols-md-3 row-cols-lg-4 row-cols-xxl-5 row-cols-1 row-gap-4">
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab9-pane" role="tabpanel" aria-labelledby="tab9" tabindex="0">
                <div class="row row-cols-md-3 row-cols-lg-4 row-cols-xxl-5 row-cols-1 row-gap-4">
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab10-pane" role="tabpanel" aria-labelledby="tab10" tabindex="0">
                <div class="row row-cols-md-3 row-cols-lg-4 row-cols-xxl-5 row-cols-1 row-gap-4">
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab11-pane" role="tabpanel" aria-labelledby="tab11" tabindex="0">
                <div class="row row-cols-md-3 row-cols-lg-4 row-cols-xxl-5 row-cols-1 row-gap-4">
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="game-card p-2">
                            <img src="assets/images/sugar-blast.webp" alt="Game Name" class="img-fluid">
                            <div class="game-title d-flex justify-content-between align-items-center">
                                <h3 class="fs-6 fw-semibold my-0">Sugar blast</h3>
                                <button class="btn button-secondary">Play Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer/>