.img-profile{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
}

.msg-body{
    height: 700px;
    overflow-y: auto;
    padding: 40px 0;
}

.receiver{
    background-color: #e0f7fa;
    align-self: flex-start;
    border-radius: 10px;
    padding: 10px 15px;
    max-width: 85%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    max-height: 150px;
    overflow-y: auto;
    float: left;
    width: fit-content;
}

.sender{
    background-color: #f1f0f0;
    align-self: flex-start;
    border-radius: 10px;
    padding: 10px 15px;
    max-width: 85%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    max-height: 150px;
    overflow-y: auto;
    float: right;
    width: fit-content;
    text-align: right;
}

.message-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.sendtime{
    font-size: 10px;
}