<div>
    <div class="orange-bg p-1 my-1">
        <h4 class="text-white fw-semibold">Account Statement</h4>  
    </div>
    <div class="row g-1">
        <div class="col-12 col-md-6 col-lg-3">
            <input type="date" class="form-control">
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <input type="date" class="form-control">
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="dropdown ">
        <button class="btn border w-100  dropdown-toggle" type="button"  aria-expanded="false">
          Deposit/withdraw requests
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Sport reports</a></li>
          <li><a class="dropdown-item" href="#">Casino reports</a></li>
        </ul>
      </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <button class="blue-btn p-2 border-0">Submit</button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table border my-2">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Sr.no</th>
                    <th>Credit</th>
                    <th>Debit</th>
                    <th>pts</th>
                    <th>Ranks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>12/12/2025</td>
                    <td>1</td>
                    <td>100</td>
                    <td>200</td>
                    <td>45</td>
                    <td>1</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>