<section class="sidebar-right-section-padding position-relative page-height ">
    <div class="upcoming-bar p-2">
      <p class="mb-0 fw-bold text-center">Bet Game Betting History</p>
    </div>
    <ul class="nav nav-pills flex-nowrap mb-3 m-4 history-tab" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-bet-history-tab" data-bs-toggle="pill" data-bs-target="#pills-bet-history" type="button" role="tab" aria-controls="pills-bet-history" aria-selected="true">Bet Games Profit & Loss</button>
        </li>
        <!-- <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-profit-loss-tab" data-bs-toggle="pill" data-bs-target="#pills-profit-loss" type="button" role="tab" aria-controls="pills-profit-loss" aria-selected="false">Bet Games Profit & Loss</button>
        </li> -->
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-bet-history" role="tabpanel" aria-labelledby="pills-bet-history-tab" tabindex="0">
            <div class="m-4">
              <div class="row align-items-end row-gap-3">
                <!-- Start Date Input -->
                <div class="col-sm-6 col-md-3 col-lg-3">
                  <div>
                    <label for="betType">Order Type</label>
                    <select class="form-select" id="betType" aria-label="Select bet type" [(ngModel)]="selectedBetType">
                      <option value="">Select bet type</option>
                      <option value="1">Match odds</option>
                      <option value="2">Bookmaker</option>
                      <option value="3">Fancy</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                  <div>
                    <label for="startDate">Period</label>
                    <input
                      id="startDate"
                      type="date"
                      class="form-control"
                      placeholder="Start Date"
                      [(ngModel)]="startDate">
                  </div>
                </div>
                
                <!-- End Date Input -->
                <div class="col-sm-6 col-md-3 col-lg-3">
                  <div>
                    <label for="endDate">To</label>
                    <input
                      id="endDate"
                      type="date"
                      class="form-control"
                      placeholder="End Date"
                      [(ngModel)]="endDate">
                  </div>
                </div>
                
                <!-- Checkbox Filters -->
                <div class="col-sm-8 col-md-6 col-lg-4">
                  <div class="d-flex gap-3 history-filter-btn">
                    <!-- Just For Today -->
                    <div class="check-box-grp flex-grow-1">
                      <div class="d-flex align-items-center">
                        <div class="line-height-0">
                          <input
                            class="form-check-input mt-0"
                            type="checkbox"
                            [(ngModel)]="justForToday"
                            (change)="onTodayCheckboxChange()"
                            id="justForToday">
                        </div>
                        <label for="justForToday" class="mb-0 ms-2">Just For Today</label>
                      </div>
                    </div>
                    <!-- From Yesterday -->
                    <div class="check-box-grp flex-grow-1">
                      <div class="d-flex align-items-center">
                        <div class="line-height-0">
                          <input
                            class="form-check-input mt-0"
                            type="checkbox"
                            [(ngModel)]="fromYesterday"
                            (change)="onYesterdayCheckboxChange()"
                            id="fromYesterday">
                        </div>
                        <label for="fromYesterday" class="mb-0 ms-2">From Yesterday</label>
                      </div>
                    </div>
                  </div>
                </div>
                
                <!-- Action Buttons -->
                <div class="col-12 col-sm-4 col-md-3 col-lg-3">
                  <button class="button-primary border-gradient" (click)="onGetHistory()">Get History</button>
                  <button class="button-primary border-gradient ms-2" (click)="onClearFilters()">Clear</button>
                </div>
              </div>
                <div class="border-top mt-4">
                 
                  <div class="mt-4 table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th class="text-center">Date</th>
                          <th class="text-center">Match</th>
                          <th class="text-center">Event</th>
                          <th class="text-center">Odd</th>
                          <th class="text-center">Side</th>
                          <th class="text-center">Price</th>
                          <th class="text-center">Size</th>
                          <th class="text-center">Profit / Loss</th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr class="text-center" *ngFor="let bet of betHistory | paginate: { itemsPerPage: limit, currentPage: page, totalItems : totalItems }">
                            <td class="">{{bet.createdAt | customDate }} </td>
                            <td class="">{{bet.matchName }}</td>
                            <td class="">{{bet.eventName }}</td>
                            <td class="">{{bet.oddType }}</td>
                            <td class="">{{bet.type}}</td>
                            <td class="">{{bet.odds}}</td>
                            <td class="">{{bet.stake}}</td>
                            <td [ngClass]="{
                              'text-success' : bet.profitLoss > 0,
                              'text-danger' : bet.profitLoss < 0,
                            }">{{bet.profitLoss}}</td>
                          </tr>
                        
                      </tbody>
                    </table>
                    <div *ngIf="true" class="d-flex justify-content-end">
                      <div class="pagination">
                        <pagination-controls (pageChange)="handlePageEvent($event)"></pagination-controls>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mt-3">
                    <ul class="notes">
                        <li><p class="mb-2">Betting History enables you to review the bets you have placed.</p></li>
                        <li><p class="mb-2">Specify the time period during which your bets were placed, the type of markets on which the bets were placed, and the sport.</p></li>
                        <li><p class="mb-0">Betting History is available online for the past 30 days.</p></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-profit-loss" role="tabpanel" aria-labelledby="pills-profit-loss-tab" tabindex="0">
            <div class="m-4">
                <div class="row align-items-end row-gap-3">
                  
                  <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="">
                      <label for="">Period</label>
                      <input type="date" class="form-control" placeholder="Start Date" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="">
                      <label for="">To</label>
                      <input type="date" class="form-control" placeholder="Start Date" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                  </div>
                  <div class="col-sm-8 col-md-6 col-lg-4">
                    <div class="d-flex gap-3 history-filter-btn">
                        <div class="check-box-grp flex-grow-1">
                          <div class="d-flex align-items-center">
                            <div class="line-height-0">
                              <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            </div>
                            <p class="mb-0 ms-2">Just For Today</p>
                          </div>
                        </div>
                        <div class="check-box-grp flex-grow-1">
                            <div class="d-flex align-items-center">
                              <div class="line-height-0">
                                <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                              </div>
                              <p class="mb-0 ms-2">From Yesterday</p>
                            </div>
                          </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-3 col-lg-3">
                    <button class="button-primary border-gradient">Get P & L</button>
                    <button class="button-primary border-gradient ms-2">Clear</button>
                  </div>
                </div>
                <div class="border-top mt-4">
                 
                  <div class="mt-4 table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th class="text-center">Bet ID</th>
                          <th class="text-center">Event</th>
                          <th class="text-center">Bet Placed</th>
                          <th class="text-center">Bet Settled</th>
                          <th class="text-center">Stake</th>
                          <th class="text-center">Profit / Loss</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="">8</td>
                          <td class=""><span>2024-11-28</span><span>13:00:00</span></td>
                          <td class="">8</td>
                          <td class="">8.2</td>
                          <td class="">8</td>
                          <td class="">8.2</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="mt-3">
                    <ul class="notes">
                        <li><p class="mb-2">Betting History enables you to review the bets you have placed.</p></li>
                        <li><p class="mb-2">Specify the time period during which your bets were placed, the type of markets on which the bets were placed, and the sport.</p></li>
                        <li><p class="mb-0">Betting History is available online for the past 30 days.</p></li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
    
  </section>