<app-header/>
<section class="section_inplay section-padding">
    <div class="container-fluid">
        <h2 class="fs-4 fw-bold">In-Play Matches</h2>
        <div class="accordion">
            @for(sport of matches; track sport.sportid) {
                <div class="accordion-item">
                    <h2 class="accordion-header mt-0">
                        <button class="accordion-button title_bg collapsed" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse'+sport.name" aria-expanded="false">
                        {{sport.name}}
                        </button>
                    </h2>
                    @if(sport.matchList.length > 0){
                        <div [id]="'collapse'+sport.name" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr align="middle">
                                                <th>Matches</th>
                                                <th colspan="2">1</th>
                                                <th colspan="2">x</th>
                                                <th colspan="2">2</th>
                                            </tr>
                                        </thead>  
                                        <tbody>
                                            <tr align="middle" *ngFor="let match of sport.matchList">
                                                @if(match.inPlay){
                                                    <td class="text-start">
                                                        <a [routerLink]="'/match-details/'+sport.sportid+'/'+match.matchId">{{match.matchName}} {{match.openDate}}</a>
                                                    </td>
                                                    <td class="color-width tb-primary-bg">{{match.team1Back}}</td>
                                                    <td class="color-width tb-secondary-bg">{{match.team1Lay}}</td>
                                                    <td class="color-width tb-primary-bg">{{match.drawBack}}</td>
                                                    <td class="color-width tb-secondary-bg">{{match.drawLay}}</td>
                                                    <td class="color-width tb-primary-bg">{{match.team2Back}}</td>
                                                    <td class="color-width tb-secondary-bg">{{match.team2Lay}}</td>
                                                }
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                    @else {
                        <div [id]="'collapse'+sport.name" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <p>No In-play match found</p>
                            </div>
                        </div>
                    }
                    
                    
                </div>
            }
        </div>
    </div>
</section>
<app-footer/>