<button class="btn btn-sm btn-primary" (click)="view()">View your {{message}}</button>
<button class="btn btn-sm btn-primary ms-3" *ngIf="admin" (click)="addBal(addbalance)">Add Balance</button>
<ng-template #addbalance>
    <div class="p-4">
        <button mat-icon-button class="btn text-end w-100">
            <mat-icon (click)="close()">close</mat-icon>
          </button>
        <h5 class="mb-3">Add Balance</h5>
        <input type="text" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' [formControl]="amt" placeholder="Enter the amount">
        <span *ngIf="submitted && amt.errors" >Enter the Amount</span>
        <div class="text-end">
            <button class="btn btn-sm btn-primary mt-4" (click)="submit()">Submit</button>
        </div>
    </div>
</ng-template>