<section class="sidebar-right-section-padding position-relative page-height ">
  <div class="upcoming-bar p-2">
    <p class="mb-0 fw-bold text-center">Account Statement</p>
  </div>
  <div class="m-4">
    <!-- <div class="row align-items-end row-gap-3">
      <div class="col-sm-5 col-md-3 col-lg-3">
        <div class="">
          <label for="">Start Date</label>
          <input type="date" class="form-control" placeholder="Start Date" aria-label="Username" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="col-sm-5 col-md-3 col-lg-3">
        <div class="">
          <label for="">End Date</label>
          <input type="date" class="form-control" placeholder="Start Date" aria-label="Username" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="col-12 col-md-3 col-lg-3">
        <button class="button-primary border-gradient">Loading Report</button>
        <button class="button-primary border-gradient ms-2">Clear</button>
      </div>
    </div> -->
    <div class="border-top mt-4">
      <div class="dropdown mt-4">
        <button class="btn button-secondary btn-sm dropdown-toggle" type="button" (click)="exportcsv()" aria-expanded="false">
          Download
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">XML</a></li>
          <li><a class="dropdown-item" href="#">CSV</a></li>
          <li><a class="dropdown-item" href="#">MS-Excel</a></li>
        </ul>
      </div>
      <div class="mt-4 table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="text-center">Created Date</th>
              <th class="text-center">Sender</th>
              <th class="text-center">Receiver</th>
              <th class="text-center">Type</th>
              <th class="text-center">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center" *ngFor="let tx of history | paginate: { itemsPerPage: limit, currentPage: page, totalItems : totalItems}">
              <td class="">{{tx.createdAt | customDate}}</td>
              <td class="">{{tx.sender_name}}</td>
              <td class="">{{tx.receiver_name}}</td>
              <td class="">{{tx?.type == 1 ? 'Deposit' : 'Withdraw'}}</td>
              <td [ngClass]="{
                'text-success' : tx.amount > 0,
                'text-danger' : tx.amount < 0,
              }">{{tx.amount}}</td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="true" class="d-flex justify-content-end">
          <div class="pagination">
            <pagination-controls (pageChange)="handlePageEvent($event)"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>