.game-card {
    box-shadow: 0 0 10px 0 #00000050;
}
.game-title {
    background-image: linear-gradient(to right, black, transparent);
    color: #fff;
    border-radius: 0 0 5px 5px;
    h3 {
        padding-left:10px;
    }
    & button {
        font-size: 12px;
        padding-left: 21px;
        clip-path: polygon(100% 100%, 100% 0%, 18% 0%, 0% 100%);
        border-radius: 0 0 5px 0;
    }
}
.awc_list {
    .swiper-slide {
        min-width: 100px;
        max-width: fit-content;
        height: 25px;
    }
    .swiper-button-next, .swiper-button-prev {
        top: 50%;
        margin: 0;
        background-color: #fff1d3;
        border: 1px solid #fff;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        transform: translateY(-50%);
        border: 3px solid #8282821a;
        &::after {
            color: #000;
            font-size: 12px;
            font-weight: 600;
        }
    }
}