 <!-- HEADER -->
 <div class="header-admin py-3">
    <div class="">
      <!-- Body -->
      <div class="header-body">
        <div class="row align-items-end">
          <div class="col">
            <!-- Pretitle -->
            <span class="header-pretitle text-secondary fs-12">
              Overview
            </span>
            <!-- Title -->
            <h3 class="header-title mb-0">
              Dashboard
            </h3>
          </div>
          <div class="col-auto">
            <!-- Button -->
            <a href="#" class="btn-blue text-decoration-none">
              Create Report
            </a>
          </div>
        </div>
        <hr class="text-theme-2">
      </div>
    </div>
  </div>

  <!-- cards -->
  <div class="">
    <div class="row">
      <div class="col-12 col-lg-6 col-xl">

        <!-- Value  -->
        <div class="card mb-3 border-0 shadow-sm">
          <div class="card-body">
            <div class="row align-items-center gx-0">
              <div class="col">

                <!-- Title -->
                <h6 class="text-uppercase fs-12 text-muted mb-2">
                  Value
                </h6>

                <!-- Heading -->
                <span class="fw-semibold">
                  $24,500
                </span>

                <!-- Badge -->
                <span class="badge bg-success-subtle text-success-emphasis">
                  +3.5%
                </span>
              </div>
              <div class="col-auto">

                <!-- Icon -->
                <span class="h5 fw-bolder fa-solid fa-dollar-sign text-theme-2 mb-0"></span>

              </div>
            </div> <!-- / .row -->
          </div>
        </div>

      </div>
      <div class="col-12 col-lg-6 col-xl">

        <!-- Hours -->
        <div class="card mb-3 border-0 shadow-sm">
          <div class="card-body">
            <div class="row align-items-center gx-0">
              <div class="col">

                <!-- Title -->
                <h6 class="text-uppercase fs-12 text-muted mb-2">
                  Total hours
                </h6>

                <!-- Heading -->
                <span class="fw-semibold">
                  763.5
                </span>

              </div>
              <div class="col-auto">

                <!-- Icon -->
                <span class="h5 fw-bolder fa-solid fa-briefcase text-theme-2 mb-0"></span>

              </div>
            </div> <!-- / .row -->
          </div>
        </div>

      </div>
      <div class="col-12 col-lg-6 col-xl">

        <!-- Exit -->
        <div class="card mb-3 border-0 shadow-sm">
          <div class="card-body">
            <div class="row align-items-center gx-0">
              <div class="col">

                <!-- Title -->
                <h6 class="text-uppercase fs-12 text-muted mb-2">
                  Exit %
                </h6>

                <!-- Heading -->
                <span class="fw-semibold">
                  35.5%
                </span>

              </div>
              <div class="col-auto">

                <!-- Icon -->
                <span class="h5 fw-bolder fa-solid fa-arrow-trend-up text-theme-2 mb-0"></span>

              </div>
            </div> <!-- / .row -->
          </div>
        </div>

      </div>
      <div class="col-12 col-lg-6 col-xl">

        <!-- Time -->
        <div class="card mb-3 border-0 shadow-sm">
          <div class="card-body">
            <div class="row align-items-center gx-0">
              <div class="col">

                <!-- Title -->
                <h6 class="text-uppercase fs-12 text-muted mb-2">
                  Avg. Time
                </h6>

                <!-- Heading -->
                <span class="fw-semibold">
                  2:37
                </span>

              </div>
              <div class="col-auto">

                <!-- Icon -->
                <span class="h5 fw-bolder fa-regular fa-clock text-theme-2 mb-0"></span>

              </div>
            </div> <!-- / .row -->
          </div>
        </div>

      </div>
    </div> <!-- / .row -->

    <div class="row">
      <div class="col-12 col-xl-8">

        <!-- Convertions -->
        <div class="card my-3 border-0 shadow-sm">
          <div class="card-header p-sm-3 p-2 d-flex justify-content-around bg-white align-items-center">
            
            <!-- Title -->
            <h6 class="card-header-title mb-0 me-sm-0 me-3">
              Conversions
            </h6>
            <!-- <div class="d-sm-flex ms-auto"> -->
              <!-- Caption -->
              <span class="ms-sm-auto text-muted me-sm-3 me-auto">
                Last year comparision:
              </span>

              <!-- Switch -->
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="cardToggle" data-toggle="chart"
                  data-target="#daybar" data-trigger="change" data-action="add" data-dataset="1">
                <label class="form-check-label" for="cardToggle"></label>
              </div>
            <!-- </div> -->

          </div>
          <div class="card-body">

            <!-- Chart -->
            <!-- <div class="chart">
              <div id="daybar" style="height: 300px; width: 100%;">
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-4">

        <!-- Traffic -->
        <div class="card my-3 border-0 shadow-sm">
          <div class="card-header bg-white d-flex justify-content-between align-items-center">

            <!-- Title -->
            <h6 class="card-header-title mb-0 py-2">
              Traffic Channels
            </h6>

            <!-- Tabs -->
            <ul class="traffic-channels nav nav-tabs border-0" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="traffic-tab1" data-bs-toggle="tab" data-bs-target="#traffic-tab1-pane" type="button" role="tab" aria-controls="traffic-tab1-pane" aria-selected="true">
                  All
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button  class="nav-link"  id="traffic-tab2" data-bs-toggle="tab" data-bs-target="#traffic-tab2-pane" type="button" role="tab" aria-controls="traffic-tab2-pane" aria-selected="false">
                  Direct
                </button>
              </li>
            </ul>

          </div>
          <div class="card-body">

            <!-- Chart -->
            
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active"  id="traffic-tab1-pane" role="tabpanel" aria-labelledby="traffic-tab1" tabindex="0" > 
                    <!-- <div id="pieChart" style="height: 300px; width: 100%;"></div> -->
                </div>
                <div class="tab-pane fade" id="traffic-tab2-pane" role="tabpanel" aria-labelledby="traffic-tab2" tabindex="0">
                   <!-- <div id="pieChartOne" style="height: 300px; width: 100%;"></div> -->
                </div>
            </div>

            <!-- Legend -->
            

          </div>
        </div>
      </div>
    </div> <!-- / .row -->
    
    
    <div class="row">
      <div class="col-12 col-xl-4">

        <!-- project -->
        <div class="card my-3 border-0 shadow-sm">

          <div class="card-header bg-white  d-flex justify-content-between align-items-center">

             <!-- Title -->
             <h6 class="mb-0 py-2">
              Project 
            </h6>

            <a href="" class="text-decoration-none text-theme-2 fs-12">View all</a>

          </div>

          <div class="card-body">

            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <img src="assets/img/admin/project-1.jpg" width="64" height="48" class="rounded" alt="">
                
                <h6 class="ms-3">Homepage Redesign<br><span class="fs-12">updated 4hr ago </span></h6>
              </div>
              
              <a href="" class="fa-solid fa-ellipsis-vertical text-secondary text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false"></a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item fs-12" href="#">Action</a></li>
                <li><a class="dropdown-item fs-12" href="#">Another Action</a></li>
                <li><a class="dropdown-item fs-12" href="#">else</a></li>
              </ul>
            
            </div>
            <hr>

            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <img src="assets/img/admin/project-2.jpg" width="64" height="48" class="rounded" alt="">
                
                <h6 class="ms-3">Travel & Time<br><span class="fs-12">updated 4hr ago </span></h6>
              </div>
              
              <a href="" class="fa-solid fa-ellipsis-vertical text-secondary text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false"></a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item fs-12" href="#">Action</a></li>
                <li><a class="dropdown-item fs-12" href="#">Another Action</a></li>
                <li><a class="dropdown-item fs-12" href="#">else</a></li>
              </ul>
            
            </div>
            <hr>

            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <img src="assets/img/admin/project-3.jpg" width="64" height="48" class="rounded" alt="">
                
                <h6 class="ms-3">Safari Exploration<br><span class="fs-12">updated 4hr ago </span></h6>
              </div>
              
              <a href="" class="fa-solid fa-ellipsis-vertical text-secondary text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false"></a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item fs-12" href="#">Action</a></li>
                <li><a class="dropdown-item fs-12" href="#">Another Action</a></li>
                <li><a class="dropdown-item fs-12" href="#">else</a></li>
              </ul>
            
            </div>
            <hr>

            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <img src="assets/img/admin/project-5.jpg" width="64" height="48" class="rounded" alt="">
                
                <h6 class="ms-3">Personal Site<br><span class="fs-12">updated 4hr ago </span></h6>
              </div>
              
              <a href="" class="fa-solid fa-ellipsis-vertical text-secondary text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false"></a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item fs-12" href="#">Action</a></li>
                <li><a class="dropdown-item fs-12" href="#">Another Action</a></li>
                <li><a class="dropdown-item fs-12" href="#">else</a></li>
              </ul>
            
            </div>
          </div>  
        </div>

      </div>

      <div class="col-12 col-xl-8">

        <!-- sale -->
        <div class="card my-3 border-0 shadow-sm">
          <div class="card-header d-flex justify-content-between bg-white align-items-center">

            <!-- Title -->
            <h6 class="card-header-title mb-0 py-2">
              Sales
            </h6>

            <!-- Tabs -->
            <ul class="traffic-channels nav nav-tabs border-0" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="p-0 nav-link active" id="all-graph" data-bs-toggle="tab" data-bs-target="#all-graph-pane" type="button" role="tab" aria-controls="all-graph-pane" aria-selected="true">
                  All
                </button>
              </li>
              <li class="nav-item mx-3 p-0" role="presentation">
                <button  class="p-0 nav-link"  id="direct-graph" data-bs-toggle="tab" data-bs-target="#direct-graph-pane" type="button" role="tab" aria-controls="direct-graph-pane" aria-selected="false">
                  Direct
                </button>
              </li>
              <li class="nav-item p-0" role="presentation">
                <button  class="p-0 nav-link"  id="organic-graph" data-bs-toggle="tab" data-bs-target="#organic-graph-pane" type="button" role="tab" aria-controls="organic-graph-pane" aria-selected="false">
                  Organic
                </button>
              </li>
            </ul>

          </div>
          <div class="card-body">

            <!-- Chart -->
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active"  id="all-graph-pane" role="tabpanel" aria-labelledby="all-graph" tabindex="0" > <div id="SaleGraph" style="height: 290px; width: 100%;"></div></div>
              <div class="tab-pane fade" id="direct-graph-pane" role="tabpanel" aria-labelledby="direct-graph" tabindex="0"> <div id="DirectGraph" style="height: 290px; width: 100%;"></div></div>
              <div class="tab-pane fade" id="organic-graph-pane" role="tabpanel" aria-labelledby="organic-graph" tabindex="0"> <div id="OrganicGraph" style="height: 290px; width: 100%;"></div></div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /row -->

    <div class="col-12">

      <!-- Goals -->
      <div class="card my-3 border-0 shadow-sm">
        <div class="card-header p-3 bg-white">
          <div class="row align-items-center">
            <div class="col">

              <!-- Title -->
              <h6 class="mb-0">
                Goals
              </h6>

            </div>
            <div class="col-auto">

              <!-- Button -->
              <a href="#!" class="btn btn-sm bg-theme-1">
                Export
              </a>

            </div>
          </div> <!-- / .row -->
        </div>
        <div class="table-responsive mb-0 admin-table" data-list="{&quot;valueNames&quot;: [&quot;goal-project&quot;, &quot;goal-status&quot;, &quot;goal-progress&quot;, &quot;goal-date&quot;]}">
          <table class="table table-sm mb-0 table-nowrap">
            <thead class="bg-light">
              <tr>
                <th>
                  <a href="#" class="text-decoration-none text-muted list-sort" data-sort="goal-project">
                    Goal
                  </a>
                </th>
                <th>
                  <a href="#" class="text-decoration-none text-muted list-sort" data-sort="goal-status">
                    Status
                  </a>
                </th>
                <th>
                  <a href="#" class="text-decoration-none text-muted list-sort" data-sort="goal-progress">
                    Progress
                  </a>
                </th>
                <th>
                  <a href="#" class="text-decoration-none text-muted list-sort" data-sort="goal-date">
                    Due date
                  </a>
                </th>
                <th class="text-end">
                  Team
                </th>
                <th class=""></th>
              </tr>
            </thead>
            <tbody class="list">
              <tr>
                <td class="goal-project">
                  Update the API
                </td>
                <td class="goal-status">
                  <span class="text-warning">●</span> In progress
                </td>
                <td class="goal-progress">
                  55%
                </td>
                <td class="goal-date">
                  <time datetime="2018-10-24">07/24/18</time>
                </td>
                <td class="text-end">
                  <div class="avatar-group">
                    <a href="" class="avatar" data-bs-toggle="tooltip" aria-label="Dianna Smiley" data-bs-original-title="Dianna Smiley">
                      <img src="assets/img/admin/avatar-1.jpg" width="26" height="26" class="rounded-circle" alt="...">
                    </a>
                    <a href="" class="avatar" data-bs-toggle="tooltip" aria-label="Ab Hadley" data-bs-original-title="Ab Hadley">
                      <img src="assets/img/admin/avatar-2.jpg" width="26" height="26" class="rounded-circle" alt="...">
                    </a>
                    <a href="" class="avatar" data-bs-toggle="tooltip" aria-label="Adolfo Hess" data-bs-original-title="Adolfo Hess">
                      <img src="assets/img/admin/avatar-3.jpg" width="26" height="26" class="rounded-circle" alt="...">
                    </a>
                    <a href="" class="avatar" data-bs-toggle="tooltip" aria-label="Daniela Dewitt" data-bs-original-title="Daniela Dewitt">
                      <img src="assets/img/admin/avatar-4.jpg" width="26" height="26" class="rounded-circle" alt="...">
                    </a>
                  </div>
                </td>
                <td class="text-end">
                  <a href="" class="fa-solid fa-ellipsis-vertical text-secondary text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false"></a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item fs-12" href="#">Action</a></li>
                    <li><a class="dropdown-item fs-12" href="#">Another Action</a></li>
                    <li><a class="dropdown-item fs-12" href="#">else</a></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="goal-project">
                  Release v1.2-Beta
                </td>
                <td class="goal-status">
                  <span class="text-warning">●</span> In progress
                </td>
                <td class="goal-progress">
                  25%
                </td>
                <td class="goal-date">
                  <time datetime="2018-10-24">08/26/18</time>
                </td>
                <td class="text-end">
                  <div class="avatar-group justify-content-end">
                    <a href="#!" class="avatar" data-bs-toggle="tooltip" aria-label="Dianna Smiley" data-bs-original-title="Dianna Smiley">
                      <img src="assets/img/admin/avatar-1.jpg" width="26" height="26" class="bg-white rounded-circle" alt="...">
                    </a>
                    <a href="#!" class="avatar" data-bs-toggle="tooltip" aria-label="Ab Hadley" data-bs-original-title="Ab Hadley">
                      <img src="assets/img/admin/avatar-2.jpg" width="26" height="26" class="bg-white rounded-circle" alt="...">
                    </a>
                    <a href="#!" class="avatar" data-bs-toggle="tooltip" aria-label="Adolfo Hess" data-bs-original-title="Adolfo Hess">
                      <img src="assets/img/admin/avatar-3.jpg" width="26" height="26" class="rounded-circle" alt="...">
                    </a>
                  </div>
                </td>
                <td class="text-end">
                  <a href="" class="fa-solid fa-ellipsis-vertical text-secondary text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false"></a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item fs-12" href="#">Action</a></li>
                    <li><a class="dropdown-item fs-12" href="#">Another Action</a></li>
                    <li><a class="dropdown-item fs-12" href="#">else</a></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="goal-project">
                  GDPR Compliance
                </td>
                <td class="goal-status">
                  <span class="text-success">●</span> Completed
                </td>
                <td class="goal-progress">
                  100%
                </td>
                <td class="goal-date">
                  <time datetime="2018-10-24">06/19/18</time>
                </td>
                <td class="text-end">
                  <div class="avatar-group justify-content-end">
                    <a href="" class="avatar" data-bs-toggle="tooltip" aria-label="Dianna Smiley" data-bs-original-title="Dianna Smiley">
                      <img src="assets/img/admin/avatar-1.jpg" width="26" height="26" class="rounded-circle" alt="...">
                    </a>
                    <a href="" class="avatar" data-bs-toggle="tooltip" aria-label="Ab Hadley" data-bs-original-title="Ab Hadley">
                      <img src="assets/img/admin/avatar-2.jpg" width="26" height="26" class="rounded-circle" alt="...">
                    </a>
                    <a href="" class="avatar" data-bs-toggle="tooltip" aria-label="Adolfo Hess" data-bs-original-title="Adolfo Hess">
                      <img src="assets/img/admin/avatar-3.jpg" width="26" height="26" class="rounded-circle" alt="...">
                    </a>
                  </div>
                </td>
                <td class="text-end">
                  <a href="" class="fa-solid fa-ellipsis-vertical text-secondary text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false"></a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item fs-12" href="#">Action</a></li>
                    <li><a class="dropdown-item fs-12" href="#">Another Action</a></li>
                    <li><a class="dropdown-item fs-12" href="#">else</a></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="goal-project">
                  v1.2 Documentation
                </td>
                <td class="goal-status">
                  <span class="text-danger">●</span> Cancelled
                </td>
                <td class="goal-progress">
                  0%
                </td>
                <td class="goal-date">
                  <time datetime="2018-10-24">06/25/18</time>
                </td>
                <td class="text-end">
                  <div class="avatar-group justify-content-end">
                    <a href="" class="avatar" data-bs-toggle="tooltip" aria-label="Dianna Smiley" data-bs-original-title="Dianna Smiley">
                      <img src="assets/img/admin/avatar-1.jpg" width="26" height="26" class="rounded-circle" alt="...">
                    </a>
                    <a href="" class="avatar" data-bs-toggle="tooltip" aria-label="Ab Hadley" data-bs-original-title="Ab Hadley">
                      <img src="assets/img/admin/avatar-2.jpg" width="26" height="26" class="rounded-circle" alt="...">
                    </a>
                  </div>
                </td>
                <td class="text-end">
                  <a href="" class="fa-solid fa-ellipsis-vertical text-secondary text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false"></a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item fs-12" href="#">Action</a></li>
                    <li><a class="dropdown-item fs-12" href="#">Another Action</a></li>
                    <li><a class="dropdown-item fs-12" href="#">else</a></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="goal-project">
                  Plan design offsite
                </td>
                <td class="goal-status">
                  <span class="text-success">●</span> Completed
                </td>
                <td class="goal-progress">
                  100%
                </td>
                <td class="goal-date">
                  <time datetime="2018-10-24">06/30/18</time>
                </td>
                <td class="text-end">
                  <div class="avatar-group justify-content-end">
                    <a href="" class="avatar" data-bs-toggle="tooltip" aria-label="Dianna Smiley" data-bs-original-title="Dianna Smiley">
                      <img src="assets/img/admin/avatar-1.jpg" width="26" height="26" class="rounded-circle" alt="...">
                    </a>
                    <a href="" class="avatar" data-bs-toggle="tooltip" aria-label="Ab Hadley" data-bs-original-title="Ab Hadley">
                      <img src="assets/img/admin/avatar-2.jpg" width="26" height="26" class="rounded-circle" alt="...">
                    </a>
                    <a href="" class="avatar" data-bs-toggle="tooltip" aria-label="Adolfo Hess" data-bs-original-title="Adolfo Hess">
                      <img src="assets/img/admin/avatar-3.jpg" width="26" height="26" class="rounded-circle" alt="...">
                    </a>
                    <a href="" class="avatar" data-bs-toggle="tooltip" aria-label="Daniela Dewitt" data-bs-original-title="Daniela Dewitt">
                      <img src="assets/img/admin/avatar-4.jpg" width="26" height="26" class="rounded-circle" alt="...">
                    </a>
                  </div>
                </td>
                <td class="text-end">
                  <a href="" class="fa-solid fa-ellipsis-vertical text-secondary text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false"></a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item fs-12" href="#">Action</a></li>
                    <li><a class="dropdown-item fs-12" href="#">Another Action</a></li>
                    <li><a class="dropdown-item fs-12" href="#">else</a></li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div> <!-- /table -->

    <div class="row">
      <div class="col-12 col-xl-5">

        <!-- Activity -->
        <div class="card my-3 border-0 shadow-sm">
          <div class="card-header py-3 bg-white d-flex justify-content-between align-items-center">

            <!-- Title -->
            <h6 class="mb-0">
              Recent Activity
            </h6>

            <!-- Button -->
            <a class="fs-12 text-decoration-none text-theme-2" href="#!">View all</a>

          </div>
          <div class="card-body pb-0">

            <!-- List group -->
            <div class="list-group list-group-flush">
              <div class="list-group-item border-0">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="">
                      <img class="rounded-circle" src="assets/img/admin/avatar-1.jpg" width="40" alt="...">
                    </div>

                  </div>
                  <div class="col ms-n2">

                    <!-- Heading -->
                    <h6 class="mb-1 fs-14">
                      Dianna Smiley
                    </h6>

                    <!-- Text -->
                    <p class="fs-12 text-secondary mb-0">
                      Uploaded the files "Launchday Logo" and "New Design".
                    </p>

                    <!-- Time -->
                    <small class="text-muted fs-12">
                      2m ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </div>
              <div class="list-group-item border-0">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="">
                      <img class="rounded-circle" src="assets/img/admin/avatar-2.jpg" width="40" alt="...">
                    </div>

                  </div>
                  <div class="col">

                    <!-- Heading -->
                    <h6 class="mb-1 fs-14">
                      Ab Hadley
                    </h6>

                    <!-- Text -->
                    <p class="fs-12 text-secondary mb-0">
                      Shared the "Why Dashkit?" post with 124 subscribers.
                    </p>

                    <!-- Time -->
                    <small class="fs-12 text-muted">
                      1h ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </div>
              <div class="list-group-item border-0">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="">
                      <img class="rounded-circle" src="assets/img/admin/avatar-3.jpg" width="40" alt="...">
                    </div>

                  </div>
                  <div class="col">

                    <!-- Heading -->
                    <h6 class="mb-1 fs-14">
                      Adolfo Hess
                    </h6>

                    <!-- Text -->
                    <p class="fs-12 text-secondary mb-0">
                      Exported sales data from Launchday's subscriber data.
                    </p>

                    <!-- Time -->
                    <small class="fs-12 text-muted">
                      3h ago
                    </small>

                  </div>
                </div>
                <!-- / .row -->
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="col-12 col-xl-7">

        <!-- Checklist -->
        <div class="card my-3 border-0 shadow-sm">
          <div class="card-header bg-white d-flex justify-content-between align-items-center">

            <!-- Title -->
            <h6 class="py-2 mb-0">
              Scratchpad Checklist
            </h6>

            <!-- Badge -->
            <span class="badge bg-secondary">
              23 Archived
            </span>

          </div>
          <div class="card-body">

            <!-- Checklist -->
            <div class="checklist" tabindex="0">
              <div class="form-check" tabindex="0">
                <input class="form-check-input" type="checkbox" id="checklistOne">
                <label class="form-check-label fs-14">Delete the old mess in functions files.</label>
              </div>
              <div class="form-check my-2" tabindex="0">
                <input class="form-check-input" type="checkbox" id="checklistTwo">
                <label class="form-check-label fs-14">Refactor the core social sharing modules.</label>
              </div>
              <div class="form-check" tabindex="0">
                <input class="form-check-input" type="checkbox" id="checklistThree">
                <label class="form-check-label fs-14">Create the release notes for the new pages so customers get psyched.</label>
              </div>
              <div class="form-check my-2" tabindex="0">
                <input class="form-check-input" type="checkbox" id="checklistFour">
                <label class="form-check-label fs-14">Send Dianna those meeting notes.</label>
              </div>
              <div class="form-check" tabindex="0">
                <input class="form-check-input" type="checkbox" id="checklistFive">
                <label class="form-check-label fs-14">Share the documentation for the new unified API.</label>
              </div>
              <div class="form-check mt-2" tabindex="0">
                <input class="form-check-input" type="checkbox" id="checklistSix" checked="">
                <label class="form-check-label fs-14">Clean up the Figma file with all of the avatars, buttons, and other
                  components.</label>
              </div>
            </div>

          </div>
          <div class="card-footer bg-white">
            <div class="row align-items-center">
              <div class="col">

                <!-- Input -->
                <textarea class="form-control border-0" data-autosize="" rows="1" placeholder="Create a task" style="overflow: hidden; overflow-wrap: break-word; height: 25px;"></textarea>

              </div>
              <div class="col-auto">

                <!-- Button -->
                <button class="border-0 rounded bg-theme-1 py-1 px-2">
                  Add
                </button>

              </div>
            </div> <!-- / .row -->
          </div>
        </div>

      </div>
    </div>

</div>



<ng-template #passwordchange>
  <div class="p-4">
    <form [formGroup]="form">
      <div class="d-flex align-items-center justify-content-between mb-3">
        <h6>Change Password</h6>
        <mat-icon (click)="close()">close</mat-icon>
      </div>
      <div>
        <label>Enter New password</label>
        <input type="text" class="form-control" formControlName="password">
        <!-- <span *ngIf="submitted && password.errors">Password is Required</span> -->
      </div>
      <div>
        <label>Enter New password</label>
        <input type="text" class="form-control" formControlName="confirmPassword">
        <!-- <span *ngIf="submitted && confirmPassword.errors">Password is Required</span> -->
      </div>
      <div class="text-end">
        <button class="btn btn-orange" (click)="submit()">Submit</button>
      </div>
    </form>
  </div>
</ng-template>