@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');

:root {
    --dark-bgcolor: #131414;
    --dark-background: #000;
    --primary-color: #FFC53D;
    --secondary-color: #FFC86D;
    --teritary-color: #FFDFA5;
    --fourth-color: #FF6F00;
    --dark-text-color: #666666;
    --yellow-bg: #FFC53D;
    --primarybtn-text: #000;
    --table-primary-bg-color: #A1D2F4;
    --table-primary1-bg-color: #bddff7;
    --table-primary2-bg-color: #daecfa;
    --table-secondary-bg-color: #F994BA;
    --table-secondary1-bg-color: #fab2ce;
    --table-secondary2-bg-color: #f7d0e0;
    --primary-font: 'Nunito', sans-serif;
    --banner-height: 300px;
    --teritary-color1 : #606060;
}


/*======= Nav bar css Start ===========*/

.navbar{
    background-color: var(--primary-color) !important;
}
.offcanvas,
.offcanvas-header{
    background-color: #fff !important;
}
.side-menu .menu-categories{
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;;
}
.side-menu .menu-categories:hover{
    background-color: var(--primary-color);
    padding: 5px;
}
.side-menu .menu-categories.active {
    background-color: var(--primary-color); /* Change to your desired active color */
    padding: 5px;
}
.side-menu .menu-match-list i,
.sub-categories-menu i{
    font-size: 8px;
}
.side-menu .menu-match-list{
    padding: 5px;
}

.side-menu .menu-match-list:hover {
    background-color: var(--primary-color); /* Change to your desired active color */
    border-radius: 3px;
    color: #000 !important;
}
.side-menu .sub-categories-menu.active {
background-color: #f0f0f0; /* Change to your desired active color */
padding: 5px;
border-radius: 3px;;
}
.navbar-nav .nav-link.active{
    color: var(--dark-bgcolor) !important;
}
.offcanvas-header .btn-close{
    color: var(--dark-bgcolor) !important;
}
.offcanvas li a{
    color: #000;
} 
.offcanvas li a:hover{
    color: #999;
}
.dropdown-menu {
    --bs-dropdown-link-active-bg: var(--primary-color);
}
.dropdown-item:active {
    color: #000;
}
/*======= Nav bar css End ============*/
/*======= Typography Start ============*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
body{
    font-family: var(--primary-font) !important
}

/*======= Typography End ============*/


/*======= Common Css Start ===========*/
.accordion-button:focus{
    box-shadow: none !important;
}
.accordion-button::after{
    content: ''; /* Ensure content is defined for pseudo-elements */
    display: inline-block; /* Ensure it's visible */
    background-image: url('../images/down-arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 1em; /* Adjust as needed */
    height: 1em; /* Adjust as needed */
}
.accordion-button:not(.collapsed)::after {

    content: ''; /* Ensure content is defined for pseudo-elements */
    display: inline-block; /* Ensure it's visible */
    background-image: url('../images/up-arrow.png') !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 1em; /* Adjust as needed */
    height: 1em; /* Adjust as needed */
  }
.text-primary-color{
    color: var(--primary-color);
}
.section-padding{
    padding-top: 120px;
    padding-bottom: 50px;
}
.sidebar-right-section-padding{
    padding-top: 120px;
    padding-bottom: 50px;
}
.button-primary,
.landingmenuswiper .button-primary {
    font-size: 12px;
    position: relative;
    background-color: var(--yellow-bg);
    padding: 4px 5px;
    border-radius: 50px;
    text-align: center;
    color: var(--primarybtn-text);
    overflow: hidden;
    border: 3px solid rgba(130,130,130,29%);
    border-top: 3px solid rgba(130,130,130,10%);
    border-left: 3px solid rgba(130,130,130,15%);
    border-right: 3px solid rgba(130,130,130,15%);
    cursor: pointer;
}
.button-primary:hover,
.landingmenuswiper .button-primary:hover {
    border: 3px solid rgba(130,130,130,60%);
    border-top: 3px solid rgba(130,130,130,15%);
    border-left: 3px solid rgba(130,130,130,10%);
    border-right: 3px solid rgba(130,130,130,10%);
    opacity: 0.8;
}
.button-secondary{
    background-color: var(--secondary-color) !important;
    /* white-space: nowrap; */
}
.button-secondary:hover {
    color: #000;
}

.z-index-negative {
    z-index: -1 !important;
}
.upcoming-bar{

    width: 100%; /* Full width */
    background: var(--primary-color); /* Light blue background */
    position: relative;
    overflow: hidden;
}
.upcoming-list,
.upcoming-bg{
    padding: 10px;
}
.upcoming-bg::before{


content: '';
  position: absolute;
  top: 0;
  left: -73px;
  width: 25%;
  height: 30px;
  border-bottom: solid 60px var(--primary-color);
  border-left: solid 30px transparent;
  border-right: solid 30px transparent;
  z-index:0;
}
.upcoming-bg p{
    z-index: 1;
    position: relative;
    font-size: 16px;
}
.upcoming-list p span:nth-child(1){
    background-color: var(--dark-bgcolor);
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
    color: #999;
}
.upcoming-list p a{
    text-decoration: none;
    color: var(--dark-bgcolor);
}
.upcoming-list ul{
    overflow: hidden;
    width: max-content;
}
.upcoming-list li{
    margin-right: 40px;
}
.upcoming-list li:last-child{
    margin-right: 0px;
}
.z--1{
    z-index: -1;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 5px;
    height: 3px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(245,241,211)),
									   color-stop(0.72, rgb(255,223,165)),
									   color-stop(0.86, rgb(255,118,10)));
}
.page-height{
    min-height: 90vh
}
.line-height-0{
    line-height: 0;
}
.allside-shadow{
    -webkit-box-shadow: 0px 2px 5px 0px rgba(199,199,199,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(199,199,199,1);
    box-shadow: 0px 2px 5px 0px rgba(199,199,199,1);
border-radius: 3px;
}
.section_match_details button{
    border: 0;
}

/*======= Common Css End ============*/
/* ====== dark and light mode css Start ======*/


.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

/* ====== dark and light mode css Start ======*/
/*======= Table start ===============*/
.tb-primary-bg{
    background-color: var(--table-primary-bg-color) !important;
}
.tb-primary1-bg{
    background-color: var(--table-primary1-bg-color) !important;
}
.tb-primary2-bg{
    background-color: var(--table-primary2-bg-color) !important;
}
.tb-secondary-bg{
    background-color: var(--table-secondary-bg-color) !important;
}
.tb-secondary1-bg{
    background-color: var(--table-secondary1-bg-color) !important;
}
.tb-secondary2-bg{
    background-color: var(--table-secondary2-bg-color) !important;
}
.landinghighlights-tab .fa-circle{
    font-size: 10px;
    margin-right: 5px;
}
.online-bg{
    background-color: #28a745;
    padding: 0px 5px;
    font-size: 10px;
    color: #fff;
    border-radius: 3px;
    line-height: 20px;
}
.color-width{
    width: 70px;
}
td{
    font-size: 14px;
    white-space: nowrap;
}
/*======= Table End ===============*/
/*======= Tabs Css Start =========*/
.history-tab .nav-link.active,
.landinghighlights-tab .nav-link.active{
    background-color: transparent !important;
    border-bottom: 3px solid var(--secondary-color);
    color: var(--dark-bgcolor) !important;
}
.history-tab .nav-link,
.landinghighlights-tab .nav-link{
    color: var(--dark-bgcolor);
    font-size: 16px;
    font-weight: 600;
}
.title_bg {
    font-weight: 600;
    width: 100%;
    background-color: #000 !important;
    color: #ffc107 !important;
    padding: 8px;
    border-radius: 3px 3px 0 0;
}

/*======= Tabs Css End =========*/
/*======= Form CSS Start =========*/
label{
    font-size: 14px;
}
input{
    border-radius: 3px !important;
}
input:focus{
    box-shadow: none !important;
    border: 1px solid var(--secondary-color) !important; 
}

  
  /* Customize the calendar icon */
  input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: var(--secondary-color); /* Yellow background */
    padding: 5px;
    border-radius: 50%; /* Circular icon background */
    cursor: pointer;
  }
  
  /* Add hover effect on icon */
  input[type="date"]::-webkit-calendar-picker-indicator:hover {
    background-color: var(--secondary-color); /* Darker yellow on hover */
  }
  
/*======= Form CSS End =========*/

/*======= Casino Css Start =========*/

.casino-card-grp ul li{
    display: inline-block;
    margin: 10px;
}
.casino-card-grp ul li img{
    width: 275px;
    border-radius: 5px;
}
.card-glass-effect{
    border: 0.5px solid rgba(255, 255, 255, 0.164);
    padding: 10px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.112);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    height: max-content;
    position: absolute;
    bottom:0;
    width: 275px;
}

/*======= Casino Css End =========*/
/*======= Sidebar Css Start =========*/

.sidebar-bg{
    background-color: #fff;
    -webkit-box-shadow: 3px -2px 5px -3px rgba(156,156,156,1);
-moz-box-shadow: 3px -2px 5px -3px rgba(156,156,156,1);
box-shadow: 3px -2px 5px -3px rgba(156,156,156,1);
}
.sidebar-bg li.active-nav{
    background-color: var(--primary-color);
}
.sidebar-bg li:hover{
    background-color: var(--primary-color);
}
.sidebar-bg li{
    margin-left: 15px;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 5px;
}
.sidebar-bg li i{
    margin-right: 10px;
    width: 20px;
} 
.sidebar-bg li a{
    text-decoration: none;
}
/* .sidebar-bg li:hover a{
    color: var(--primary-color)
} */
/*======= Sidebar Css End =========*/
/*======= Sidebar Css End =========*/
.check-box-grp{
    background-color: #fff;
    border: 1px solid #dcdcdc;
    padding: 7px 10px;
    border-radius: 3px;
}
/* Swal CSS */

.swal2-confirm {
    color: var(--primarybtn-text);
    background-color: var(--primary-color);
    box-shadow:unset !important;
}

.swal2-deny, .swal2-cancel {
    color: var(--primary-color);
    background-color:var(--dark-background);
}

.changepassword_btn {
    background-color: var(--primary-color);
    color: var(--primarybtn-text);
}

.cancel_btn {
    color: var(--primary-color);
    background-color:var(--dark-background);
}

.password__show{
    position: absolute;
    top: 8px;
    right: 14px;
}

.pass{
    position: relative;
}

.ngx-pagination{
    font-size: 12px ;
    text-decoration: none;
}

.ngx-pagination .current {
    background:var(--primary-color) !important;
    color: var(--dark-text-color) !important;
    font-size: 12px ;
}

.ngx-pagination a{
    color: #000 ;
}

.ngx-pagination a:hover {
    background-color: unset !important;
    font-size: 12px ;
}

.send-box {
    padding: 15px;
    border-top: 1px solid #ebebeb;
}

.send-box form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.send-box .form-control {
    display: block;
    width: 85%;
    padding: 0.375rem 0.75rem;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #222;
    background-clip: padding-box;    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.send-btns .button-wrapper {
    position: relative;
    width: auto;
    height: auto;
    text-align: left;
    margin: 0 auto;
    display: block;
    background: #f6f7fa;
    border-radius: 3px;
    padding: 5px 15px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    overflow: hidden;
}

.send-btns .button-wrapper span.label {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    color: #343945;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 13px;
}

.send-btns .attach .form-control {
    display: inline-block;
    width: 120px;
    height: auto;
    padding: 5px 8px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #343945;
    background-color: #f6f7fa;
    background-clip: padding-box;
    border: 1px solid #f6f7fa;
    border-radius: 3px;
    margin-bottom: 5px;
}

.send-btns .button-wrapper span.label img {
    margin-right: 5px;
}

#upload {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.msg-body ul {
    overflow: hidden;
}

.msg-body ul li {
    list-style: none;
    margin: 15px 0;
}

.msg-body ul li.sender {
    display: inline-block;
    width: auto;
    position: relative;
}

.sender {
    background-color: #fffae9;
    padding: 10px 10px 5px 10px;
    min-width: 25% !important;
    max-width: 75% !important;
    border-radius: 5px;
    word-break: break-all;
}

.msg-body ul li.sender div {
    color: #000;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    padding: 15px;
    background: #f5f5f5;
    display: inline-block;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 0;
    min-width: 10%;
    max-width: 70%;

}

.msg-body ul li.sender p b {
    display: block;
    color: #180660;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
}

.msg-body ul li.repaly {
    display: inline-block;
    width: auto;
    text-align: right;
    position: relative;
}

.repaly {
    background-color: #f9f9f9;
    padding: 10px 10px 5px 10px;
    min-width: 25% !important;
    max-width: 75% !important;
    float: right;
    border-radius: 5px;
    word-break: break-word;
}

.msg-body ul li.repaly p b {
    display: block;
    color: #061061;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
}

.msg-body ul li.repaly:after {
    display: block;
    content: "";
    clear: both;
}

.msg-body h6 {
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
    color: #222;
    background: #fff;
    display: inline-block;
    padding: 0 5px;
    margin-bottom: 0;
}

.text-teritary-color{
    color: var(--teritary-color1);
}

.winner-box {
    .table>:not(caption)>*>*{
        &.tb-secondary-bg,.tb-secondary1-bg,.tb-secondary2-bg{
            white-space: normal !important;
            min-width: 65px;
            max-width: 280px;
        }
    }
}

.fancymarket-box{
    .table>:not(caption)>*>*{ 
     &.tb-secondary-bg,.tb-secondary1-bg,.tb-secondary2-bg{
         min-width: 65px;
         /* max-width: 280px; */
     }
     &.tb-primary-bg{
        min-width: 65px;
     }
    }
}

.cursor-pointer{
    cursor: pointer;
}

/*======= Sidebar Css End =========*/
@media screen and (max-width: 1199px){
    .sidebar-bg ul{
        display: block;
    }
    .sidebar-bg ul li{
        display: inline-block;
    }
    .sidebar-right-section-padding{
        padding-top: 20px;
        padding-bottom: 50px;
    }
}
@media screen and (max-width: 991px){
    .upcoming-bg::before{
        width: 36%;
    }

}

@media screen and (max-width: 767px){
    :root {
        --banner-height: 500px;
    }
    .section-padding {
        padding-top: 100px;
        padding-bottom: 30px;
    }
    .upcoming-bg::before {
        width: 75%;
        border-bottom: solid 45px var(--primary-color);
    }
    th{
        font-size: 12px;
        white-space: nowrap;
    }
    .msg-body ul li.sender p {
        font-size: 13px;
        padding: 8px;
        border-bottom-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .msg-body ul li.repaly p {
        font-size: 13px;
        padding: 8px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 6px;
    }
    .fancymarket-box .table th{
        white-space: wrap !important;
    }

    .winner-box{
        .table th,.table td{
            white-space: wrap !important;
        }
    } 
}
/* @media screen and (max-width:380px){
    .sidebar-bg li:first-of-type{margin-left: 0px;}
    .sidebar-bg ul li{width: 100%;margin-left: 0;}
} */