<div class="section-padding pb-0">
    <div class="py-2">
        <div class="container-fluid px-0">
            <ul class="list-unstyled mb-0 pe-3">
                <li [ngClass]="activeTab == 'acc-statement' ? 'active-nav' : ''">
                    <a (click)="changeNav('acc-statement')"><i class="fa-solid fa-gauge"></i>Account Statement</a>
                </li>
                <li [ngClass]="activeTab == 'my-bets' ? 'active-nav' : ''">
                  <a (click)="changeNav('my-bets')"><i class="fa-solid fa-hand"></i>My Bets</a>
                </li>
                <!-- <li [ngClass]="activeTab == 'fancy-bets' ? 'active-nav' : ''">
                  <a (click)="changeNav('fancy-bets')"><i class="fa-solid fa-money-bill-transfer"></i>Fancy Bets</a>
                </li>
                <li [ngClass]="activeTab == 'exchange-game-bets' ? 'active-nav' : ''">
                  <a (click)="changeNav('exchange-game-bets')"><i class="fa-solid fa-file-invoice"></i>Exchange Game Bets</a>
                </li>
                <li [ngClass]="activeTab == 'casino-bets' ? 'active-nav' : ''">
                  <a (click)="changeNav('casino-bets')"><i class="fa-solid fa-diamond"></i>Casino Bets</a>
                </li> -->
                <li [ngClass]="activeTab == 'betgame-bettinghistory' ? 'active-nav' : ''">
                  <a (click)="changeNav('betgame-bettinghistory')"><i class="fa-solid fa-chart-line"></i>Profit & Loss History</a>
                </li>
                <!-- <li [ngClass]="activeTab == 'awc-bets' ? 'active-nav' : ''">
                  <a (click)="changeNav('awc-bets')"><i class="fa-solid fa-puzzle-piece"></i>AWC History</a>
                </li> -->
                <!-- <li [ngClass]="activeTab == 'profit-loss' ? 'active-nav' : ''">
                  <a (click)="changeNav('profit-loss')"><i class="fa-solid fa-chart-line"></i>Profit & Loss</a>
                </li> -->
                <!-- <li [ngClass]="activeTab == 'stake' ? 'active-nav' : ''">
                  <a (click)="changeNav('stake')"><i class="fa-solid fa-cubes-stacked"></i>My Stake Button</a>
                </li> -->
                <li [ngClass]="activeTab == 'activites' ? 'active-nav' : ''">
                  <a (click)="changeNav('activites')"><i class="fa-solid fa-clock-rotate-left"></i>Activity Logs</a>
                </li>
                <li [ngClass]="activeTab == 'support-chat' ? 'active-nav' : ''">
                  <a (click)="changeNav('support-chat')"><i class="fa-regular fa-comment"></i>Support Chat</a>
                </li>
                <!-- <li>
                  <a routerLink='/acc-statement'><i class="fa-solid fa-lock"></i>Logout</a>
                </li> -->
            </ul>
            <div class="p-3">
              <input type="checkbox" class="checkbox d-none" id="sidebar-checkbox" [checked]="isDarkMode" (change)="onToggleDarkMode($event)">
              <label for="sidebar-checkbox" class="checkbox-label">
                <i class="fas fa-moon"></i>
                <i class="fas fa-sun"></i>
                <span class="ball"></span>
              </label>
            </div>
        </div>
    </div>
</div>