<nav id="sidebarMenu" class="d-md-block collapse sidebar px-1 py-2 bg-white shadow-sm">
    <div class=" position-sticky sidebar-sticky h-100">

      <!-- Brand -->
      <div class="ms-3 mb-auto">
        <a href="" class="d-md-block d-none"><img src="assets/img/logo.png" class="mb-3" alt=""></a>
      </div>

      <!-- links -->
      <ul class="main-nav nav nav-pills flex-column accordion mt-md-0 mt-5 pt-4" id="sidebarlist">
        <li class="nav-item px-4 py-3">
          <a href="" routerLink="/dashboard" class="text-decoration-none align-items-center active">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#131414" class="bi bi-houses-fill me-1"
              viewBox="0 0 16 16">
              <path
                d="M7.207 1a1 1 0 0 0-1.414 0L.146 6.646a.5.5 0 0 0 .708.708L1 7.207V12.5A1.5 1.5 0 0 0 2.5 14h.55a2.51 2.51 0 0 1-.05-.5V9.415a1.5 1.5 0 0 1-.56-2.475l5.353-5.354L7.207 1Z" />
              <path
                d="M8.793 2a1 1 0 0 1 1.414 0L12 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l1.854 1.853a.5.5 0 0 1-.708.708L15 8.207V13.5a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 4 13.5V8.207l-.146.147a.5.5 0 1 1-.708-.708L8.793 2Z" />
            </svg> <span>Dashboards</span>
          </a>
        </li>
        <li class="nav-item px-4 py-3">
            <div class="accordion-header" id="headingPage">
              <a href="" class="text-decoration-none align-items-center accordion-button p-0 bg-transparent shadow-none" data-bs-toggle="collapse"
                  data-bs-target="#downline" aria-expanded="true" aria-controls="downline">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#131414" class="bi bi-person-circle me-1" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                  </svg>
                  <span>Downline</span>
              </a>
            </div>
            <div id="downline" class="accordion-collapse collapse" aria-labelledby="headingPage" data-bs-parent="#sidebarlist">
              <div class="accordion-body px-0">
                <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                        <a href="" routerLink="/adminlist" class="nav-link ">
                       Admin
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="" routerLink="/alluserList" class="nav-link ">
                        Client
                        </a>
                    </li> -->
                    <li class="nav-item">
                        <a href="" routerLink="/subadminlist" class="nav-link ">
                        Subadmin
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" routerLink="/supermaster" class="nav-link ">
                        SuperMaster
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" routerLink="/masters" class="nav-link ">
                        Masters
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" routerLink="/allagents" class="nav-link ">
                        Agent
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" routerLink="/alluserList" class="nav-link ">
                        Users
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="" routerLink="/addagent" class="nav-link ">
                        Add Agent
                        </a>
                    </li>                                    -->
                </ul>
              </div>
            </div>
        </li>
        <!-- <li class="nav-item px-4 py-3">
            <div class="accordion-header" id="headingPage">
              <a href="" class="text-decoration-none align-items-center accordion-button p-0 bg-transparent shadow-none" data-bs-toggle="collapse"
                  data-bs-target="#Report" aria-expanded="true" aria-controls="Report">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#131414"
                  class="me-1 bi bi-file-earmark-break-fill" viewBox="0 0 16 16">
                  <path
                      d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V9H2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3zM2 12h12v2a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-2zM.5 10a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1H.5z" />
                  </svg> <span>My Report</span>
              </a>
            </div>
            <div id="Report" class="accordion-collapse collapse" aria-labelledby="headingPage" data-bs-parent="#sidebarlist">
              <div class="accordion-body px-0">
                <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                        <a href="" routerLink="/report/pl-downline" class="nav-link ">
                            Downline
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" routerLink="/report/parlay-Downline" class="nav-link ">
                            parlay Downline
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" routerLink="/report/pl-market" class="nav-link ">
                            Event
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" routerLink="/report/pnl-match" class="nav-link ">
                            Market
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" routerLink="/report/pl-player" class="nav-link ">
                            Player
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" routerLink="/report/pnl-casino-downline" class="nav-link ">
                            Casino Downline
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" routerLink="/report/pnl-downline" class="nav-link ">
                            All Casino
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" routerLink="/report/pl-diacasino" class="nav-link ">
                            Diamond Casino
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" routerLink="/report/pl-betgames" class="nav-link ">
                            Betgames
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" routerLink="/report/pl-awccasino" class="nav-link ">
                            AWC
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" routerLink="/report/pl-auracasino" class="nav-link ">
                            Aura
                        </a>
                    </li>
                </ul>
              </div>
            </div>
        </li> -->
        <!-- <li class="nav-item px-4 py-3">
            <a href="" routerLink="/bet-list" class="text-decoration-none align-items-center active">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#131414" class="bi bi-list-stars me-1" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5"/>
                    <path d="M2.242 2.194a.27.27 0 0 1 .516 0l.162.53c.035.115.14.194.258.194h.551c.259 0 .37.333.164.493l-.468.363a.28.28 0 0 0-.094.3l.173.569c.078.256-.213.462-.423.3l-.417-.324a.27.27 0 0 0-.328 0l-.417.323c-.21.163-.5-.043-.423-.299l.173-.57a.28.28 0 0 0-.094-.299l-.468-.363c-.206-.16-.095-.493.164-.493h.55a.27.27 0 0 0 .259-.194zm0 4a.27.27 0 0 1 .516 0l.162.53c.035.115.14.194.258.194h.551c.259 0 .37.333.164.493l-.468.363a.28.28 0 0 0-.094.3l.173.569c.078.255-.213.462-.423.3l-.417-.324a.27.27 0 0 0-.328 0l-.417.323c-.21.163-.5-.043-.423-.299l.173-.57a.28.28 0 0 0-.094-.299l-.468-.363c-.206-.16-.095-.493.164-.493h.55a.27.27 0 0 0 .259-.194zm0 4a.27.27 0 0 1 .516 0l.162.53c.035.115.14.194.258.194h.551c.259 0 .37.333.164.493l-.468.363a.28.28 0 0 0-.094.3l.173.569c.078.255-.213.462-.423.3l-.417-.324a.27.27 0 0 0-.328 0l-.417.323c-.21.163-.5-.043-.423-.299l.173-.57a.28.28 0 0 0-.094-.299l-.468-.363c-.206-.16-.095-.493.164-.493h.55a.27.27 0 0 0 .259-.194z"/>
                </svg>
               <span> Bet List</span>
            </a>
        </li> -->
        <li class="nav-item px-4 py-3">
            <a href="" routerLink="/bet-limited" class="text-decoration-none align-items-center active">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#131414" class="bi bi-list-stars me-1" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5"/>
                    <path d="M2.242 2.194a.27.27 0 0 1 .516 0l.162.53c.035.115.14.194.258.194h.551c.259 0 .37.333.164.493l-.468.363a.28.28 0 0 0-.094.3l.173.569c.078.256-.213.462-.423.3l-.417-.324a.27.27 0 0 0-.328 0l-.417.323c-.21.163-.5-.043-.423-.299l.173-.57a.28.28 0 0 0-.094-.299l-.468-.363c-.206-.16-.095-.493.164-.493h.55a.27.27 0 0 0 .259-.194zm0 4a.27.27 0 0 1 .516 0l.162.53c.035.115.14.194.258.194h.551c.259 0 .37.333.164.493l-.468.363a.28.28 0 0 0-.094.3l.173.569c.078.255-.213.462-.423.3l-.417-.324a.27.27 0 0 0-.328 0l-.417.323c-.21.163-.5-.043-.423-.299l.173-.57a.28.28 0 0 0-.094-.299l-.468-.363c-.206-.16-.095-.493.164-.493h.55a.27.27 0 0 0 .259-.194zm0 4a.27.27 0 0 1 .516 0l.162.53c.035.115.14.194.258.194h.551c.259 0 .37.333.164.493l-.468.363a.28.28 0 0 0-.094.3l.173.569c.078.255-.213.462-.423.3l-.417-.324a.27.27 0 0 0-.328 0l-.417.323c-.21.163-.5-.043-.423-.299l.173-.57a.28.28 0 0 0-.094-.299l-.468-.363c-.206-.16-.095-.493.164-.493h.55a.27.27 0 0 0 .259-.194z"/>
                </svg>
               <span> Banner Management</span>
            </a>
        </li>
        <!-- <li class="nav-item px-4 py-3">
            <a href="" routerLink="/bet-live-list" class="text-decoration-none align-items-center active">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#131414" class="bi bi-activity me-1" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2"/>
              </svg>
               <span>Live Bet</span>
            </a>
        </li> -->
        <li class="nav-item px-4 py-3">
            <a href="" routerLink="/user-bet-history" class="text-decoration-none align-items-center active">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-activity me-1" viewBox="0 0 16 16">
                <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z"/>
                <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z"/>
                <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5"/>
              </svg>
               <span>User Bet History</span>
            </a>
        </li>
        <li class="nav-item px-4 py-3">
            <div class="accordion-header" id="headingPage">
              <a href="" class="text-decoration-none align-items-center accordion-button p-0 bg-transparent shadow-none" data-bs-toggle="collapse"
                  data-bs-target="#risk" aria-expanded="true" aria-controls="risk">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#131414" class="bi bi-kanban me-1" viewBox="0 0 16 16">
                    <path d="M13.5 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-11a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zm-11-1a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                    <path d="M6.5 3a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1zm-4 0a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1zm8 0a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1z"/>
                  </svg>
                  <span>Risk</span>
              </a>
            </div>
            <div id="risk" class="accordion-collapse collapse" aria-labelledby="headingPage" data-bs-parent="#sidebarlist">
              <div class="accordion-body px-0">
                <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                        <a href="" routerLink="/risk-management" class="nav-link ">
                            Risk Management
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" routerLink="/parlaybetlist" class="nav-link ">
                            parlay Downline
                        </a>
                    </li>
                </ul>
              </div>
            </div>
        </li>
        <li class="nav-item px-4 py-3">
            <a href="" routerLink="/banking" class="text-decoration-none align-items-center active">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#131414" class="bi bi-bank me-1" viewBox="0 0 16 16">
                    <path d="m8 0 6.61 3h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.38l.5 2a.498.498 0 0 1-.485.62H.5a.498.498 0 0 1-.485-.62l.5-2A.5.5 0 0 1 1 13V6H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 3h.89zM3.777 3h8.447L8 1zM2 6v7h1V6zm2 0v7h2.5V6zm3.5 0v7h1V6zm2 0v7H12V6zM13 6v7h1V6zm2-1V4H1v1zm-.39 9H1.39l-.25 1h13.72z"/>
                </svg>
               <span>Banking</span>
            </a>
        </li>
        <li class="nav-item px-4 py-3">
            <div class="accordion-header" id="headingPage">
              <a href="" class="text-decoration-none align-items-center accordion-button p-0 bg-transparent shadow-none" data-bs-toggle="collapse"
                  data-bs-target="#bets" aria-expanded="true" aria-controls="bets">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#131414" class="bi bi-kanban me-1" viewBox="0 0 16 16">
                    <path d="M13.5 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-11a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zm-11-1a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                    <path d="M6.5 3a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1zm-4 0a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1zm8 0a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1z"/>
                  </svg>
                  <span>Casino Control</span>
              </a>
            </div>
            <div id="bets" class="accordion-collapse collapse" aria-labelledby="headingPage" data-bs-parent="#sidebarlist">
              <div class="accordion-body px-0">
                <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                        <a href="" routerLink="/awc-casino" class="nav-link ">
                            Awc Casino Bets
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" routerLink="/bet-games" class="nav-link ">
                            Betgames Bets
                        </a>
                    </li>
                </ul>
              </div>
            </div>
        </li>
        <li class="nav-item px-4 py-3">
            <a href="" routerLink="/limitSettings" class="text-decoration-none align-items-center active">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#131414" class="bi bi-list-stars me-1" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5"/>
                <path d="M2.242 2.194a.27.27 0 0 1 .516 0l.162.53c.035.115.14.194.258.194h.551c.259 0 .37.333.164.493l-.468.363a.28.28 0 0 0-.094.3l.173.569c.078.256-.213.462-.423.3l-.417-.324a.27.27 0 0 0-.328 0l-.417.323c-.21.163-.5-.043-.423-.299l.173-.57a.28.28 0 0 0-.094-.299l-.468-.363c-.206-.16-.095-.493.164-.493h.55a.27.27 0 0 0 .259-.194zm0 4a.27.27 0 0 1 .516 0l.162.53c.035.115.14.194.258.194h.551c.259 0 .37.333.164.493l-.468.363a.28.28 0 0 0-.094.3l.173.569c.078.255-.213.462-.423.3l-.417-.324a.27.27 0 0 0-.328 0l-.417.323c-.21.163-.5-.043-.423-.299l.173-.57a.28.28 0 0 0-.094-.299l-.468-.363c-.206-.16-.095-.493.164-.493h.55a.27.27 0 0 0 .259-.194zm0 4a.27.27 0 0 1 .516 0l.162.53c.035.115.14.194.258.194h.551c.259 0 .37.333.164.493l-.468.363a.28.28 0 0 0-.094.3l.173.569c.078.255-.213.462-.423.3l-.417-.324a.27.27 0 0 0-.328 0l-.417.323c-.21.163-.5-.043-.423-.299l.173-.57a.28.28 0 0 0-.094-.299l-.468-.363c-.206-.16-.095-.493.164-.493h.55a.27.27 0 0 0 .259-.194z"/>
            </svg>
               <span>Limit Settings</span>
            </a>
        </li>
        <li class="nav-item px-4 py-3">
            <a href="" routerLink="/block-market" class="text-decoration-none align-items-center active">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#131414" class="bi bi-ban me-1" viewBox="0 0 16 16">
                    <path d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0"/>
                </svg>
               <span>Block Market</span>
            </a>
        </li>
        <li class="nav-item px-4 py-3">
            <a href="" routerLink="/chatlist" class="text-decoration-none align-items-center active">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-right-text-fill me-1" viewBox="0 0 16 16">
                    <path d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h9.586a1 1 0 0 1 .707.293l2.853 2.853a.5.5 0 0 0 .854-.353zM3.5 3h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1m0 2.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1m0 2.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1"/>
                  </svg>
               <span>ChatList</span>
            </a>
        </li>
        <li class="nav-item px-4 py-3" *ngIf="subAdmin">
            <a href="" routerLink="/supportChat" class="text-decoration-none align-items-center active">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-right-text-fill me-1" viewBox="0 0 16 16">
                    <path d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h9.586a1 1 0 0 1 .707.293l2.853 2.853a.5.5 0 0 0 .854-.353zM3.5 3h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1m0 2.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1m0 2.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1"/>
                  </svg>
               <span>Support Chat</span>
            </a>
        </li>
        <li class="nav-item px-4 py-3">
            <a href="" routerLink="/transactionHistory" class="text-decoration-none align-items-center active">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-history ms-1" viewBox="0 0 16 16">
                    <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z"/>
                    <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z"/>
                    <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5"/>
                  </svg>
               <span>Transaction History</span>
            </a>
        </li>
        <li class="nav-item px-4 py-3">
            <a (click)="logout()" class="text-decoration-none align-items-center active cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-power me-1" viewBox="0 0 16 16">
                    <path d="M7.5 1v7h1V1z"/>
                    <path d="M3 8.812a5 5 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812"/>
                  </svg>
               <span>Logout</span>
            </a>
        </li>
        <li class="nav-item px-4 py-3 d-md-none">
          <form class="mt-3 w-100 px-3" role="search">
            <input class="form-control shadow-none" type="search" placeholder="Search" aria-label="Search">
          </form>
        </li>
      </ul>


    </div>
</nav>
