
<footer class="position-relative py-4">
    <div class="container">
        <ul class="footer-link d-block list-unstyled text-center">
            <li>Privacy Policy</li>
            <li>About us</li>
            <li>Terms & Conditions</li>
            <li>Gambling can be addictive,  please play responsibly</li>
            <li>Parental Supervision</li>
            <li>Help & Contact us</li>
        </ul>
    </div>
    <!-- <div class="copy-right">
        <p>Copy  Right &#64; 2024</p>
    </div> -->
    <div class="footer-blur-img w-100">
        <img src="../../../assets/images/rectangle.png" alt="Footer Bg" class="img-fluid w-100">
    </div>
</footer>
