// .custom-toggler {
//     background-image: url('../../../assets/images/menu.svg'); /* Replace with your image path */
//     background-size: contain; /* Ensures the image fits inside */
//     background-repeat: no-repeat;
//     background-position: center;
//     width: 40px; /* Adjust the width */
//     height: 40px; /* Adjust the height */
//     border: none; /* Remove default border */
//   }
.custom-toggler svg{
  fill: #000;
}
  .navbar-toggler:hover {
    // filter: invert(3) brightness(2) !important;
    opacity: 0.5 !important;
  }
  /* Optional: Adjust hover or focus states */
  .custom-toggler:hover,
  .custom-toggler:focus {
    outline: none;
    opacity: 0.8; /* Slightly dim when hovered/focused */
  }

  /* Hide the default toggler icon */
  .navbar-toggler .navbar-toggler-icon {
    display: none;
  }
  .navbar-toggler:focus{
    box-shadow: none;
  }
  .header-nav{
    font-size: 14px;;
  }

  /* Marquee */

  .marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
  .marquee:hover .marquee__item {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
  .marquee__seperator {
    margin: 0 2rem;
  }
  .marquee__item {
    display: inline-block;
    will-change: transform;
    -webkit-animation: marquee 500s linear infinite;
            animation: marquee 500s linear infinite;
  }

  @-webkit-keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .marquee {
   padding-top: 5px;
   padding-bottom: 5px;
   border: 0.5px solid rgba(255, 255, 255, 0.164);
    background: rgba(255, 255, 255, 0.112);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    height: max-content;
    bottom:0;
    width: 100%;
  }
  .marquee a{
    font-size: 12px;
    color: var(--dark-bgcolor);
    text-decoration: none;
  }
  .marquee a:hover{
    font-size: 12px;
    color: var(--secondary-color);
    text-decoration: none;
  }
  .marquee .fa-star{
    font-size: 10px;
    color: var(--dark-bgcolor);
  }
  .account-hover{
    position: absolute;
    z-index: 2 !important;
    background-color: #fff;
    right: 69px;
    width: 335px;
    display: none;
    top: 50px;
    border: 1px solid #dbd1bb;
    border-radius: 5px;
    @media (max-width: 767px) {
      left: 0;
      right: auto;
    }
  }
  .account-hover.active{
    display: block;
  }
  .account-hover li{
    padding: 10px;
    cursor: pointer
  }
  .account-hover li a{
    text-decoration: none;
    width: 100%;
    display: block;
  }
  .account-hover li i{
    margin-right: 10px;
  }
  .account-hover li:hover{
    background-color: var(--primary-color);
  }
  .account-hover li:last-child:hover,
  .account-hover li:first-child:hover{
    background-color: transparent;
  }
  // .header-nav-details.active .fa-circle-user{display: block;}
  .header-nav-details .fa-circle-xmark{
    display: none;
  }
  .account-bg{
    // background-image: url(../../../assets/images/account-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 10px;
    border-radius: 5px;
  }
  .account-bg p{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #fff;
  }
  .account-bg h6{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 5px;
    color: #fff;
  }

.account-bg div p{
  font-size: 14px;
  color: #000;
}
.navbar{
  .header-nav-details{
    padding: 0;
  }
  button.navbar-toggler{
    padding: 0;
  }
}
.navbar .account-hover .account-bg .data-f{
  display: flex;
  justify-content: end;
}
.navbar .account-hover .account-bg .data-f p:last-of-type{
  padding-left: 10px;
}
/**===responsive===**/
@media screen and (max-width: 767px){
  .logo{
    width: 75px;
  }
  .header-nav{
    font-size: 10px;
  }
  .header-nav-details{
    position: relative;
    z-index: 9;
  }
  .header-nav-details {
    position: relative; /* Ensure ::before aligns properly */
    cursor: pointer; /* Optional: show pointer for clickable elements */
  }

  .header-nav-details.icon-user::before {
    content: "\f007"; /* User icon */
  }

  .header-nav-details.icon-close::before {
    content: "\f00d"; /* Home icon */
  }

  .header-nav-details .header-nav{
    position: absolute;
    width: auto;
    background-color: var(--primary-color);
    border: 1px solid rgba(0,0,0,0.1);
    left: -100px;
    padding: 10px;
    display: none !important;
    z-index: 2 !important;
  }
  .header-nav-details .header-nav{

  }
  .header-nav-details .header-nav.add-remove-icon{
    display: block !important;
  }
  .mob_overflow {
    height: 430px;
    overflow: auto;
  }
}