<div>
    <div class="orange-bg p-1 my-1">
        <h4 class="text-white fw-semibold">Current Bets </h4>  
    </div>
    <div class="row g-1">
       
        <div class="col-12 col-md-6 col-lg-3">
        <select name="" id="" class="form-select">
            <option value="">Select report</option>
            <option value="">Sports</option>
            <option value="">Casino</option>
        </select>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <button class="blue-btn p-2 border-0">Submit</button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table border my-2">
            <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Nation</th>
                    <th>User Ratet</th>
                    <th>Amount</th>
                    <th>Place date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ashes</td>
                    <td>AUS</td>
                    <td>100</td>
                    <td>200</td>
                    <td>12/12/2025</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>