<section class="py-6">
    <div class=" px-sm-0">
        <div class="row">
            <div class="col-xl-3 col-sm-4 mt-4">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </span>
                    <input type="text" class="form-control shadow-none" placeholder="Find Member" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-xl-3 col-sm-4 mt-4">
                <select class="form-select shadow-none" aria-label="Default select example">
                    <option selected>All</option>
                    <option value="1">Active</option>
                    <option value="2">Locked</option>
                    <option value="3">Suspended</option>
                </select>
            </div>            
        </div>
        <div class="row row-cols-xl-6 row-cols-md-3 row-cols-sm-2 row-cols-1 g-0">
            <div class="col">
                <div class="bg-light p-3 rounded m-2 h-100">
                    <h6 class="text-muted small">Total Balance</h6>
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="mt-4 mb-0 d-inline">0.00</h6>
                            <span class="ms-2 small">INR</span>
                        </div>                       
                    </div>                        
                </div>    
            </div>
            <div class="col">
                <div class="bg-light p-3 rounded m-2 h-100">
                    <h6 class="text-muted small">Net Exposure</h6>
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="mt-4 mb-0 d-inline">0.00</h6>
                            <span class="ms-2 small">INR</span>
                        </div>                       
                    </div>                        
                </div>   
            </div>
            <div class="col">
                <div class="bg-light p-3 rounded m-2 h-100">
                    <h6 class="text-muted small">Balance</h6>
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="mt-4 mb-0 d-inline">0.00</h6>
                            <span class="ms-2 small">INR</span>
                        </div>                       
                    </div>                        
                </div> 
            </div>
            <div class="col">
                <div class="bg-light p-3 rounded m-2 h-100">
                    <h6 class="text-muted small">Balance in Downline</h6>
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="mt-4 mb-0 d-inline">0.00</h6>
                            <span class="ms-2 small">INR</span>
                        </div>                       
                    </div>                        
                </div> 
            </div>
            <div class="col">
                <div class="bg-light p-3 rounded m-2 h-100">
                    <h6 class="text-muted small">Transferable P/L with Upline</h6>
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="mt-4 mb-0 d-inline">0.00</h6>
                            <span class="ms-2 small">INR</span>
                        </div>                       
                    </div>                        
                </div> 
            </div>
            <div class="col">
                <div class="bg-light p-3 rounded m-2 h-100">
                    <h6 class="text-muted small">Total Users</h6>
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="mt-4 mb-0 d-inline">0</h6>
                        </div>                       
                    </div>                        
                </div> 
            </div>
        </div>
        <div class="bg-light p-3 rounded m-2 h-100 mt-4 table-responsive">
            <table class="table table-light table-striped table-hover small">
                <thead>
                  <tr>
                    <th scope="col">Account</th>
                    <th scope="col">Credit Reference</th>
                    <th scope="col">Balance</th>
                    <th scope="col">Exposure</th>
                    <th scope="col">Avail. bal.</th>
                    <th scope="col">Total Balance</th>
                    <th scope="col">Player Balance</th>
                    <th scope="col">Ref. P/L</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">total</th>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>(0.00)</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td></td>
                    <td></td>
                  </tr>                  
                </tbody>
            </table>
        </div>
    </div>
</section>