.section-padding {
  padding: 24px 0px;
}
// filter
.coinlist_select_input {
  border: 2px solid #ff5500a8;
  border-radius: 11px;
}

.submit_btn {
  background: linear-gradient(94.96deg, #ff5500 4.09%, #ff5500 100%);
  color: #fff;
  padding: 6px 14px;
  border-radius: 11px;
  border: 1px solid;
  margin-top: 0px;
  width: 48%;
  margin-right: 4px;
}

.cancelbtn {
  border: 2px solid #f154296b;
  border-radius: 11px;
  background-color: #f45828;
  padding: 3px 7px;
  color: #ffffff;
}

.add_from-group {
  margin-bottom: 0px;
  margin-top: 19px;
}

.counter {
  border-top: 2px solid #ff5500a8;
  padding-top: 18px;
  padding-bottom: 18px;
}

.dashboard_counter_div {
  background-color: #07312370;
  padding: 12px;
  /* border: 2px solid #07312370; */
  border-radius: 11px;
  box-shadow: 2px 2px #303030;
}
.statistics-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 1px;
}
.rate-percentage {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 2px;
  color: #f44336;
}

//
.username_a {
  text-decoration: none;
  font-weight: 600;
  color: #073123;
}
.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 250px;
  height: auto;
  min-width: 26px;
  max-height: 250px;
  min-height: 26px;
  object-fit: cover;
}

.form-group {
  margin-bottom: 0.5rem;
}

.label_color {
  color: #ff5500 !important;
}
.font {
  font-size: 16px;
}
.image-hight {
  height: 200px;
  object-fit: cover;
}
.demo-img {
  height: 250px;
  object-fit: cover;
}
.text__ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.short__dis{
    // font-size: inherit !important;
    color: inherit !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 340px;
}
.test__area{
    width: 280px;
    height: 50px;
}
@media only screen and (max-width:767px) {
    .add-btn{
        text-align: end;
    }
    
}
.imge-container{
    max-width: 400px;
}
.imge-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.p__text-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
}

.form-control{
  padding: 0.875rem 2.375rem;
}

.rowss{
  font-size: small;
  background-color: transparent !important;
  color: #000;
  border: transparent;
}
.rowss[disabled] {
  color: #cacaca !important;
}

.brown {
  background-color: #00035b !important;
  color: #fff; /* Optional: Adjust text color for better contrast */
}
.card-name{
  font-weight:bold ;
  padding: 20px;
}
.k7{
  height: 67px;
    width: 74px;
    object-fit: cover;
}




