.form-check-input {
    // --bs-form-check-bg: #ff8484;
    width: 4em !important;
    height: 2em;
    float: none;
}

.form-check-input:checked {
    background-color: #0dac00;
    border-color: #0dac00;
}

// .form-switch .form-check-input {
//     --bs-form-switch-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 255, 255, 255.25%29'/%3e%3c/svg%3e) !important;
// }
